<div class="row">
    <div class="col-xl-12">
      <app-card cardTitle="Empresas" blockClass="table-border-style">      
        <button [routerLink]="['/create-legals']" class="btn btn-primary">Agregar Empresa</button><br>
        <br>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>              
              <th>Nombre Completo</th>
              <th>Direccion</th>
              <th>Descripción</th>
              <th>RFC</th>
              <th>Estatus </th>
              <th>#</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let general of general | async">
                    <td>{{general.legals_name}}</td>
                    <td>{{general.legals_address}}</td>
                    <td>{{general.legals_description}}</td>
                    <td>{{general.legals_rfc}}</td>
                    <td><input  class="form-control" type="checkbox" [checked]="general.legals_status == 'true'"></td>
                    
                    <td>                 
                        <button (click)="deleteGeneral(general.legasl_id)" class="btn btn-danger">Eliminar</button>
                        <button (click)="updateGeneral(general.legasl_id)" class="btn btn-info" style="margin-left: 10px">Actualizar</button>
                        <button (click)="generalDetails(general.legasl_id)" class="btn btn-info" style="margin-left: 10px">Detalles</button>    
                    </td>
                </tr>
            </tbody>
          </table>
        </div>
      </app-card>
    </div>
  </div>