<div class="row">
    <div class="col-xl-12">
      <app-card cardTitle="General List" blockClass="table-border-style">      
        <button [routerLink]="['/create-general']" class="btn btn-primary">Add General</button><br>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>              
              <th>Nombre Completo</th>
              <th>Direccion</th>
              <th>Descripción</th>
              <th>Estatus</th>
              <th>RFC</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let general of general | async">
                    <td>{{general.legals_name}}</td>
                    <td>{{general.legals_address}}</td>
                    <td>{{general.legals_description}}</td>
                    <td>

                        <input id="legals_status" type="checkbox" ng-checked="leader" aria-label="Follower input">

                    </td>
                    <td>
                        
                        
                        
                        {{general.legals_rfc}}</td>
                    <td>                 
                        <button (click)="deleteGeneral(general.legasl_id)" class="btn btn-danger">Delete</button>
                        <button (click)="updateGeneral(general.legasl_id)" class="btn btn-info" style="margin-left: 10px">Update</button>
                        <button (click)="generalDetails(general.legasl_id)" class="btn btn-info" style="margin-left: 10px">Details</button>
                        
                        
                    </td>
                </tr>
            </tbody>
          </table>
        </div>
      </app-card>
    </div>
  </div>