<div class="row justify-content-center">
    <div class="col-sm-12">
      <div class="col-md-6">
        <app-card cardTitle="Crear Termino" [options]="false">
          <form (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="name">Nombre Completo</label>
              <input type="text" class="form-control" id="payment_terms_name_payment_term"
                [(ngModel)]="employee.payment_terms_name_payment_term" name="payment_terms_name_payment_term" required>
            </div>
            <div class="form-group">
              <label for="name">Descripcion</label>
              <input type="text" class="form-control" id="payment_terms_description"
                [(ngModel)]="employee.payment_terms_description" name="payment_terms_description" required>
            </div>
            <div class="form-group">
              <label for="name">Dias para pago</label>
              <input type="text" class="form-control" id="payment_terms_days_pay"
                [(ngModel)]="employee.payment_terms_days_pay" name="payment_terms_days_pay" required>
            </div>
            <div class="form-group">
              <label for="name">Estatus</label>
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="payment_terms_status"
                  [(ngModel)]="employee.payment_terms_status" name="payment_terms_status" style="margin-left: 10px">
                <label class="custom-control-label" for="payment_terms_status">Active</label>
              </div>
            </div>
            <app-alert type="danger" [hidden]="alertDisable">{{alertMessage}}</app-alert>
            <app-alert type="success" [hidden]="alertDisables">{{alertMessages}}</app-alert>
            <app-ui-modal #createPeriodsDialog dialogClass="modal-dialog-centered">
              <div class="app-modal-header">
                <h5 class="modal-title">Crear Termino</h5>
                <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
                  (click)="createPeriodsDialog.hide()"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="app-modal-body">
                <p>Esta seguro de insertar la Termino</p>
              </div>
              <div class="app-modal-footer">
                <button type="button" class="btn btn-secondary" style="margin-left: 10px" data-dismiss="modal"
                  (click)="createPeriodsDialog.hide()">Cerrar</button>
                <button type="submit" class="btn btn-success" (click)="createPeriodsDialog.hide()"
                  style="margin-left: 10px">Guardar</button>
              </div>
            </app-ui-modal>
            <button type="button" class="btn btn-outline-primary" data-toggle="modal"
              (click)="createPeriodsDialog.show()">Guardar</button>
            <button [routerLink]="['/payment-terms-list']" class="btn btn-outline-secondary"
              style="margin-left: 10px">Regresar</button>
          </form>
        </app-card>
      </div>
    </div>