<p>reservations-list works!</p>
    <div class="row">
    <div class="col-xl-12">
      <app-card cardTitle="Reservation" blockClass="table-border-style">      
        <button [routerLink]="['/create-reservations']" class="btn btn-outline-primary">Agregar reservacion</button><br>
        <br>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>              
              <th>Ubicacion</th>
              <th>Fecha de reservacion</th>
              <th>Hora inicial</th>
              <th>Hora final</th>
              <th>Residente</th>
              <th>Estatus </th>
              <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reservation of reservations | async">
                    <td>{{reservation.articles_name_article}}</td>
                    <td>{{reservation.reservations_date}}</td>
                    <td>{{reservation.reservations_start_time}}</td>
                    <td>{{reservation.reservations_end_time}}</td>
                    <td>{{reservation.tenants_name}} {{reservation.tenants_father_surname}} {{reservation.tenants_mother_surname}}</td>

                    <td>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" [checked]="reservation.reservations_status == 'true'">
                          <label class="custom-control-label" for="reservations_status">Active</label>
                       </div>
                      </td>
                      <td>                 
                        <button (click)="deleteReservation(reservation.reservations_id)" class="btn btn-outline-danger">Eliminar</button>
                        <button (click)="updateReservation(reservation.reservations_id)" class="btn btn-outline-info" style="margin-left: 10px">Actualizar</button>
                        <button (click)="reservationDetails(reservation.reservations_id)" class="btn btn-outline-primary" style="margin-left: 10px">Detalles</button>
                    </td>
                </tr>
            </tbody>
          </table>
        </div>
      </app-card>
    </div>
  </div>