<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="Cobro" blockClass="table-border-style">
            <button [routerLink]="['/create-collection']" class="btn btn-outline-primary">Agregar Cobro</button>
            <button [routerLink]="['/']" class="btn btn-outline-primary">Crear Contabilidad</button>
            
            <div class="table-responsive">
                <app-alert type="danger" [hidden]="alertDisable">{{alertMessage}}</app-alert>
                <app-alert type="success" [hidden]="alertDisables">{{alertMessages}}</app-alert>
                <table class="table">
                    <thead>
                        <tr>
                            <th>• Tipo de transacción</th>
                            <th>• Nombre del Residente</th>
                            <th>• Termino de pago </th>
                            <th>• Concepto de cobro </th>
                            <th>• Importe </th>
                            <th>• Dirección de remisión</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let general of general | async">
                            <td>{{general.collection_transaction_type}}</td>
                            <td>{{general.collection_name_resident}}</td>
                            <td>{{general.collection_payment_term}}</td>
                            <td>{{general.collection_collection_concept}}</td>
                            <td>{{general.collection_amount}}</td>
                            <td>{{general.collection_referral_address}}</td>

                            <td>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input"
                                        [checked]="general.collection_status == true ">
                                    <label class="custom-control-label" for="periodsStatus">Active</label>
                                </div>
                            </td>

                            <td>
                                <button (click)="deleteGeneral(general.collection_id)"
                                    class="btn btn-outline-danger">Eliminar</button>
                                <button (click)="updateGeneral(general.collection_id)" class="btn btn-outline-info"
                                    style="margin-left: 10px">Actualizar</button>
                                <button (click)="generalDetails(general.collection_id)" class="btn btn-outline-info"
                                    style="margin-left: 10px">Detalles</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </app-card>
    </div>
</div>