<div class="auth-wrapper">
  <div class="auth-content text-center">
    <img src="assets/images/auth/auth-logo.png" alt="" class="img-fluid mb-4">
    <div class="card borderless">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <form (ngSubmit)="onSubmit()">
              <h4 class="mb-3 f-w-400">Iniciar sesión</h4>
              <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="Email address" id="email" name="email" required [(ngModel)]="authentication.user_email">
              </div>
              <div class="input-group mb-4">
                <input type="password" class="form-control" placeholder="Password" id="password" name="password" required [(ngModel)]="authentication.user_password">
              </div>
              <div class="form-group text-left mt-2">
                <div class="checkbox checkbox-primary d-inline">
                  <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="">
                  <label for="checkbox-fill-a1" class="cr">Guardar</label>
                </div>
              </div>
              <app-alert type="danger" [hidden]="alertDisable">{{alertMessage}}</app-alert> 
              <app-alert type="success" [hidden]="alertDisables">{{alertMessages}}</app-alert> 
              <button class="btn btn-block btn-login mb-4" type="submit">Signin</button>
              <p class="mb-2 text-muted">¿Olvidó su contraseña? <a  (click)="Mandarcorreo()" class="f-w-400">Reset</a></p>
              <p class="mb-0 text-muted">¿Aún no tiene una cuenta? <a [routerLink]="['/auth/signup']" class="f-w-400">Registrarse</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<input type="text" class="form-control" id="nombre" required [(ngModel)]="employee.nombre" name="nombre">-->