<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-md-4">      
        <app-card cardTitle="Crear Peridos" [options]="false">      
            <app-alert type="success" [hidden]="alertDisable">{{alertMessage}}</app-alert>  
          <form (ngSubmit)="onSubmit()">

            <div class="input-group mb-1">
                <div class="input-group-prepend">
                  <label class="input-group-text"  for="inputGroupSelect01">numero de periodo</label>
                </div>
                <select  class="custom-select" id="inputGroupSelect01" class="form-control" id="periodsNumber"  [(ngModel)]="periods.periodsNumber" name="periodsNumber" required>
                  <option selected></option>
                 
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                
                
                </select>
              </div>
     
            
            <div class="input-group mb-1">
                <div class="input-group-prepend">
                  <label   class="input-group-text"  for="inputGroupSelect01">nombre del periodo</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01" class="form-control" id="periodsName"  [(ngModel)]="periods.periodsName" name="periodsName" required>
                  <option selected></option>
                  <option value="Enero">Enero</option>
                  <option value="febrero">febrero</option>
                  <option value="marzo">marzo</option>
                  <option value="abril">abril</option>
                  <option value="mayo">mayo</option>
                  <option value="junio">junio</option>
                  <option value="julio">julio</option>
                  <option value="agosto">agosto</option>
                  <option value="septiemre">septiemre</option>
                  <option value="octubre">octubre</option>
                  <option value="noviembre">noviembre</option>
                  <option value="diciembre">diciembre</option>
                
                </select>
              </div>
            
     
                
            <div class="form-group">
                <label for="name">Año</label>
                <input width="1" type="number" min="2000" max="2025" class="form-control" id="periodsYear" required [(ngModel)]="periods.periodsYear" name="periodsYear">
            </div>    
                
            <div class="form-group">
                <label for="name">Fecha de inicio del periodo</label>
                <input type="date" class="form-control" id="periodsStartDate" required [(ngModel)]="periods.periodsStartDate" name="periodsStartDate">
            </div>    
                
            <div class="form-group">
                <label for="name">fecha de fin de periodo</label>
                <input type="date" class="form-control" id="periodsEndDate" required [(ngModel)]="periods.periodsEndDate" name="periodsEndDate">
            </div>    
                
            <div class="form-group">
                <label for="name">Estatus</label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input"  id="periodsStatus"  [(ngModel)]="periods.periodsStatus"     name="periodsStatus"   style="margin-left: 10px">
                    <label class="custom-control-label" for="periodsStatus">Active</label>
                 </div>
            </div>
  
                
            <div class="form-group">
                <label for="name">creado por:</label>
                <input type="text" class="form-control" id="createdBy" required [(ngModel)]="periods.createdBy" name="createdBy">
            </div>    
          
            <button [routerLink]="['/periods-list']" class="btn btn-secondary app-modal-footer" style="margin-left: 10px">Cancelar</button>
            <button type="button" class="btn btn-primary " data-toggle="modal" (click)="createPeriodsDialog.show()">Aceptar</button>
            <app-ui-modal #createPeriodsDialog dialogClass="modal-dialog-centered">
                <div class="app-modal-header">
                <h5 class="modal-title">Create Period: {{periods.periodsName}}</h5>
                <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="createPeriodsDialog.hide()"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="app-modal-body">
                <p>desea guardar los cambios?</p>
                </div>
                <div class="app-modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="createPeriodsDialog.hide()">Cerrar</button>
                <button type="submit" class="btn btn-primary">cambios guardados</button>
                </div>
            </app-ui-modal>
          </form>
        </app-card>
      </div>
    </div>