<div class="row justify-content-center">
    <div class="col-sm-12">
      <app-card cardTitle="Detalle fraccionamiento" [options]="false">
        <div *ngIf="employee">
          <app-alert type="danger" [hidden]="alertDisable">{{alertMessage}}</app-alert> 
          <div class="form-group">
            <label for="exampleFormControlSelect1">Empresa:</label>
            <select  disabled class="custom-select"  id="legals_id" required [(ngModel)]="employee.legals_id" name="legals_id" >
            <option *ngFor="let address of addresses | async" value="{{address.legasl_id}}">{{address.legals_name}}</option>
            </select>
        </div> 
          <div class="form-group">
            <label for="name">Descripción:</label>
            {{employee.condominums_description}}
          </div> 
          <div class="form-group">
            <label><b>Estatus:  </b></label>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input"  id="condominums_status"  disabled  name="condominums_status"   style="margin-left: 10px" [checked]="employee.condominums_status == 'true'">
            <label class="custom-control-label" for="condominums_status">Active</label>
         </div>
        </div>
        </div>
        <br>
        <button [routerLink]="['/condominus-list']" class="btn btn-outline-primary">Regresar</button><br>
      </app-card>
      </div>
  </div>