<div class="row justify-content-center">
    <div class="col-sm-12">
      <div class="col-md-6">
        <app-card cardTitle="Crear Registro de pago" [options]="false">
          <form (ngSubmit)="onSubmit()" >

            <div class="form-group">
              <label for="exampleFormControlSelect1">creditor</label>
              <select  class="custom-select"  id="name_creditor" required [(ngModel)]="employee.name_creditor" name="name_creditor" >
              <option *ngFor="let creditors of creditor | async" value="{{creditors.creditor_business_name}}">{{creditors.creditor_business_name}}</option>
              </select>
          </div>  

         <form action="">
          <div class="form-group">
            <label for="exampleFormControlSelect1">FACTURA</label>
            <select  type="text"  class="custom-select"  id="billtopay_invoice_folio" required [(ngModel)]="employee.billtopay_invoice_folio" name="billtopay_invoice_folio" >
            <option *ngFor="let creditors of facturass | async" value="{{creditors.billtopay_invoice_folio}}"> {{creditors.billtopay_invoice_folio}}{{creditors.billtopay_table }}</option>
          </select>
          <button (click)="reloadData6()" class="btn btn-outline-secondary" style="margin-left: 10px">BUSCAR nombre  </button>
        </div> 
        
        <div class="form-group">
          <label for="name">Fecha de pago</label>
          <input type="text" class="form-control" id="payment_record_payment_date"  [(ngModel)]="employee.billtopay_invoice_date" name="payment_record_payment_date" required>
        </div>
  
         <div class="form-group">
              <label for="name">Monto</label>
              <input type="text" class="form-control" id="purcharse_order_total"  [(ngModel)]="employee.purcharse_order_total" name="purcharse_order_total" required>
        </div>

        <div class="form-group">
          <label for="name">cuenta de pago</label>
          <input type="text" class="form-control" id="cuentapago"  [(ngModel)]="employee.cuentapago" name="cuentapago" required>
    </div>

      </form>        
      

            <div class="form-group">
              <label for="exampleFormControlSelect1">metodo de pago </label>
              <select  class="custom-select"  id="metodo_tipo" required [(ngModel)]="employee.metodo_tipo" name="metodo_tipo" >
              <option *ngFor="let creditors of general | async" value="{{creditors.payment_description}}"> {{creditors.payment_description}}</option>
              </select>
          </div>  
<!--
            <div class="form-group">
             <label  for="inputGroupSelect01">metodo de pago </label>
             <select class="custom-select" id="inputGroupSelect01" class="form-control" id="metodo_tipo"  [(ngModel)]="employee.metodo_tipo" name="metodo_tipo" required>
                <option selected></option>
                <option value="una sola exhibición">una sola exhibición</option>
                <option value="parcialidades">parcialidades</option>
              </select>
            </div>
-->
              <div class="custom-file">
                <label  for="inputGroupSelect01">agregar comprovante </label>
                <input type="file" alife-file-to-base (change)="handleUpload($event)" class="custom-file-input" id="payment_method"   name="payment_method" required>
                <label class="custom-file-label" for="validatedCustomFile">anexar archivo</label>
                <div class="invalid-feedback">invalid custom file </div>
              </div>  


              
            <div class="form-group">
                <label for="name">Estatus</label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input"  id="payment_status"  [(ngModel)]="employee.payment_status"     name="payment_status"   style="margin-left: 10px">
                    <label class="custom-control-label" for="payment_status">Active</label>
                 </div>
            </div>
            <app-alert type="danger" [hidden]="alertDisable">{{alertMessage}}</app-alert> 
            <app-alert type="success" [hidden]="alertDisables">{{alertMessages}}</app-alert> 
            <app-ui-modal #createPeriodsDialog dialogClass="modal-dialog-centered">
              <div class="app-modal-header">
              <h5 class="modal-title">Crear cuenta por pagar</h5>
              <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="createPeriodsDialog.hide()"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="app-modal-body">
              <p>Esta seguro de insertar cuenta por pagar </p>
              </div>
              <div class="app-modal-footer">
              <button type="button" class="btn btn-secondary"   style="margin-left: 10px"   data-dismiss="modal" (click)="createPeriodsDialog.hide()">Cerrar</button>
              <button type="submit" class="btn btn-success" (click)="createPeriodsDialog.hide()"  style="margin-left: 10px">Guardar</button>
              </div>
          </app-ui-modal>
            <button type="button"  class="btn btn-outline-primary" data-toggle="modal" (click)="createPeriodsDialog.show()">Guardar</button>          
            <button [routerLink]="['/payment-record-list']" class="btn btn-outline-secondary" style="margin-left: 10px">Regresar</button>
          </form>
        </app-card>
      </div>
    </div>



