<div class="row justify-content-center">
    <div class="col-sm-12">
      <app-card cardTitle=" Estatus Articulo  Detalle" [options]="false">
        <div *ngIf="employee">
          <div>
            <label><b>Nombre: </b></label> {{employee.price_nombre}}
          </div>
          <div>
            <label><b>Decripcion: </b></label> {{employee.price_description}}
          </div>
          
          

          

        


          <div>
            <label><b>Estatus:  </b></label>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input"  id="price_status"  name="price_status"   style="margin-left: 10px" [checked]="employee.price_status == 'true'">
            <label class="custom-control-label" for="price_status">Active</label>
        
          </div>
        </div>
        </div>
        <br>
        
        
      
      </app-card>
      </div>
  </div>
