<div class="row">
    <div class="col-xl-12">
      <app-card cardTitle="Transicion" blockClass="table-border-style">      
        <button [routerLink]="['/create-transactiontypes']"   class="btn btn-outline-primary" >Agregar transaction</button>
        <br><br>
        <div class="table-responsive">
          <app-alert type="danger" [hidden]="alertDisable">{{alertMessage}}</app-alert> 
          <app-alert type="success" [hidden]="alertDisables">{{alertMessages}}</app-alert> 
          <table class="table">
            <thead>
            <tr>              
              <th>	Nombre del tipo de transacción </th>
              <th>	Descripción  </th>
              <th>	Clase de transacción</th>
              <th>	Distribución contable </th>
              <!-- 
              <th>condominio</th>
              <th>Estatus </th> -->
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let general of general | async">
                    <td>{{general.transaction_types_name_type_transaction}}</td>
                    <td>{{general.transaction_types_description}}</td>
                    <td>{{general.transaction_types_class_transaction}}</td>
                    <td>{{general.transaction_types_accounting_distribution}}</td>
                    <!-- 
                    <td>{{general.condominums_id}}</td>
                    <td>{{general.created_by}}</td> -->
                    <td>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" [checked]="general.transaction_types_status == 'true'">
                          <label class="custom-control-label" for="periodsStatus">Active</label>
                       </div>
                      </td>

                    <td>
                        <button  class="btn btn-outline-danger"  (click)="createPeriodsDialog.show()">Eliminar</button>
                        <button (click)="updateGeneral(general.transaction_types_id)" class="btn btn-outline-info" style="margin-left: 10px">Actualizar</button>
                        <button (click)="generalDetails(general.transaction_types_id)" class="btn btn-outline-info" style="margin-left: 10px">Detalles</button>    
                        
                        
                        
                        <app-ui-modal #createPeriodsDialog dialogClass="modal-dialog-centered">
                          <div class="app-modal-header">
                          <h5 class="modal-title">Eliminar transaction</h5>
                          <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="createPeriodsDialog.hide()"><span aria-hidden="true">&times;</span></button>
                          </div>

                          <div class="app-modal-body">
                          <p>Esta seguro de eliminar la transaction?</p>
                          </div>
                          <div class="app-modal-footer">
                          <button type="button" class="btn btn-secondary"   style="margin-left: 10px"   data-dismiss="modal" (click)="createPeriodsDialog.hide()">Cerrar</button>
                          <button type="submit" class="btn btn-danger"  (click)="deleteGeneral(general.transaction_types_id)"   (click)="createPeriodsDialog.hide()"  style="margin-left: 10px">Eliminar</button>
                          </div>
                      </app-ui-modal>
                    </td>          
                </tr>
            </tbody>
          </table>
        </div>
      </app-card>
    </div>
  </div>