<div class="row justify-content-center">
    <div class="col-sm-12">
      <div class="col-md-6">
        <app-card cardTitle="Crear Sub Categoria" [options]="false">
          <form (ngSubmit)="onSubmit()">  
            <div class="form-group">
                <label for="name">Nombre de Sub Categoria</label>
                <input type="text" class="form-control" id="sub_categories_name"  [(ngModel)]="employee.sub_categories_name" name="sub_categories_name" required> 
              </div>  
              <div class="form-group">
                <label for="exampleFormControlSelect1">Categoria</label>
                <select  class="custom-select" id="inv_categories_id" required [(ngModel)]="employee.inv_categories_id" name="inv_categories_id"  >
                <option *ngFor="let address of addresses | async" value="{{address.inv_categories_id}}">{{address.categories_name}}</option>
                </select>
            </div>           
            <div class="form-group">
                <label for="name">Estatus</label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input"  id="sub_categories_status"  [(ngModel)]="employee.sub_categories_status"     name="sub_categories_status"   style="margin-left: 10px">
                    <label class="custom-control-label" for="sub_categories_status">Active</label>
                 </div>
            </div>
            <app-alert type="danger" [hidden]="alertDisable">{{alertMessage}}</app-alert> 
            <app-alert type="success" [hidden]="alertDisables">{{alertMessages}}</app-alert> 
            <app-ui-modal #createPeriodsDialog dialogClass="modal-dialog-centered">
              <div class="app-modal-header">
              <h5 class="modal-title">Crear Sub Categoria</h5>
              <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="createPeriodsDialog.hide()"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="app-modal-body">
              <p>Esta seguro de insertar la sub categoria</p>
              </div>
              <div class="app-modal-footer">
              <button type="button" class="btn btn-secondary"   style="margin-left: 10px"   data-dismiss="modal" (click)="createPeriodsDialog.hide()">Cerrar</button>
              <button type="submit" class="btn btn-success" (click)="createPeriodsDialog.hide()"  style="margin-left: 10px">Guardar</button>
              </div>
          </app-ui-modal>
            <button type="button"  class="btn btn-outline-primary" data-toggle="modal" (click)="createPeriodsDialog.show()">Guardar</button>        
            <button [routerLink]="['/sub_categories-list']" class="btn btn-outline-secondary" style="margin-left: 10px">Regresar</button>
          </form>
        </app-card>
      </div>
    </div>