<div class="row">
  <div class="col-xl-12">
    <app-card cardTitle="Cliente" blockClass="table-border-style">
      <button [routerLink]="['/create-customer']" class="btn btn-outline-primary">Agregar cliente</button>
      <button [routerLink]="['/resporte-ar-list']" class="btn btn-outline-primary">Reporte estado de cuenta</button>

      <div class="table-responsive">
        <app-alert type="danger" [hidden]="alertDisable">{{alertMessage}}</app-alert>
        <app-alert type="success" [hidden]="alertDisables">{{alertMessages}}</app-alert>
        <table id='from-informacion' class="table">
          <thead>
            <tr>
              <th>Nombre completo</th>
              <th>RFC</th>
              <th>tipo de cliente</th>
              <th>Direccion</th>
              <th>Telefono</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let general of general | async">
              <td>{{general.customer_customer_name}}</td>
              <td>{{general.customer_customer_rfc}}</td>
              <td>{{general.customer_customer_type}}</td>
              <td>{{general.customer_address}}</td>
              <td>{{general.customer_phone}}</td>
              <td>
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" [checked]="general.customer_status == 'true'">
                  <label class="custom-control-label" for="periodsStatus">Active</label>
                </div>
              </td>

              <td>
                <button class="btn btn-outline-danger" (click)="createPeriodsDialog.show()">Eliminar</button>
                <button (click)="updateGeneral(general.customer_customer_id)" class="btn btn-outline-info"
                  style="margin-left: 10px">Actualizar</button>
                <button (click)="generalDetails(general.customer_customer_id)" class="btn btn-outline-info"
                  style="margin-left: 10px">Detalles</button>
                <app-ui-modal #createPeriodsDialog dialogClass="modal-dialog-centered">
                  <div class="app-modal-header">
                    <h5 class="modal-title">Eliminar Cliente</h5>
                    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
                      (click)="createPeriodsDialog.hide()"><span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="app-modal-body">
                    <p>Esta seguro de eliminar Cliente?</p>
                  </div>
                  <div class="app-modal-footer">
                    <button type="button" class="btn btn-secondary" style="margin-left: 10px" data-dismiss="modal"
                      (click)="createPeriodsDialog.hide()">Cerrar</button>
                    <button type="submit" class="btn btn-danger" (click)="deleteGeneral(general.customer_customer_id)"
                      (click)="createPeriodsDialog.hide()" style="margin-left: 10px">Eliminar</button>
                  </div>
                </app-ui-modal>

              </td>
            </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-outline-primary" (click)="imprimirLista()">Imprimir pdf reporte </button>
        <button (click)="gocv()" class="btn btn-info">Descargar COMPROBANTE</button>
      </div>
    </app-card>
  </div>
</div>