  <div class="row">
    <div class="col-xl-12">
      <app-card cardTitle="Avisos Lista" blockClass="table-border-style">      
        <button [routerLink]="['/create-releases']" class="btn btn-primary">Agregar aviso</button><br>  <br>
        <br>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>#</th>
              <th>Fecha</th>
              <th>Asunto</th>
              <th>Adjunto</th>
              <th>Estatus</th>
              <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let release of releases | async">
                    <td>{{release.releases_id}}</td>
                    <td>{{release.releases_date | date:'medium'}}</td>
                    <td>{{release.releases_subject}}</td>
                    <td><img [src]="release.releases_attached"></td>
                    <td>{{release.releases_status}}</td>
                    <td>              
                      <button (click)="deleteRelease(release.releases_id)" class="btn btn-danger">Delete</button>
                      <button (click)="updateRelease(release.releases_id)" class="btn btn-info" style="margin-left: 10px">Update</button>
                      <button (click)="releaseDetails(release.releases_id)" class="btn btn-info" style="margin-left: 10px">Details</button>
                      <button (click)="createComments(release.releases_id)" class="btn btn-danger">Comentar</button>   
                    </td>
                </tr>
            </tbody>
          </table>
        </div>
      </app-card>
    </div>
  </div>

