<p>create-agreements works!</p>
<div class="row justify-content-center">
    <div class="col-sm-12">
      <div class="col-md-6">
        <app-card cardTitle="Crear registro de contrato" [options]="false">
          <form (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="name">Nombre</label>
              <input type="text" class="form-control" id="agreements_name" required [(ngModel)]="agreement.agreements_name" name="agreements_name">
            </div>    
            <div class="form-group">
                <label for="name">Apellido paterno</label>
                <input type="text" class="form-control" id="agreements_father_surname" required [(ngModel)]="agreement.agreements_father_surname" name="agreements_father_surname">
              </div>    
              <div class="form-group">
                <label for="name">Apellido materno</label>
                <input type="text" class="form-control" id="agreements_mother_surname" required [(ngModel)]="agreement.agreements_mother_surname" name="agreements_mother_surname">
              </div>    
              <div class="form-group">
                <label for="name">Numero de residencia</label>
                <input type="text" class="form-control" id="agreements_residential_number" required [(ngModel)]="agreement.agreements_residential_number" name="agreements_residential_number">
              </div>    
              <div class="form-group">
                <label for="name">Deposito</label>
                <input type="text" class="form-control" id="agreements_deposit" required [(ngModel)]="agreement.agreements_deposit" name="agreements_deposit">
              </div>      
              <div class="form-group">
                <label for="name">Fecha inicio de contrato</label>
                <input type="date" class="form-control" id="agreements_start_date" required [(ngModel)]="agreement.agreements_start_date" name="agreements_start_date">
              </div>   
              <div class="form-group">
                <label for="name">Fecha fin de contrato</label>
                <input type="date" class="form-control" id="agreements_end_date" required [(ngModel)]="agreement.agreements_end_date" name="agreements_end_date">
              </div>   
            <div class="form-group">
                <label for="name">Estatus</label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input"  id="agreements_status"  [(ngModel)]="agreement.agreements_status"     name="agreements_status"   style="margin-left: 10px">
                    <label class="custom-control-label" for="agreements_status">Active</label>
                 </div>
            </div>
            <button type="submit" class="btn btn-success">Guardar</button>          
            <button [routerLink]="['/agreements-list']" class="btn btn-danger" style="margin-left: 10px">Cancelar</button>
          </form>
        </app-card>
      </div>
    </div>