<div class="row">
  <div class="col-xl-12">
    <app-card cardTitle="Cuentas Bancarias" blockClass="table-border-style">      
      <button [routerLink]="['/bank-accounts-create']" class="btn btn-primary">Agregar Cuenta Bancaria</button><br>
      <br><br>
      <div class="table-responsive">
        <app-alert type="danger" [hidden]="alertDisable">{{alertMessage}}</app-alert> 
        <app-alert type="success" [hidden]="alertDisables">{{alertMessages}}</app-alert> 
        <table class="table">
          <thead>
          <tr>              
            <th>Banco</th>        
            <th>Moneda</th>
            <th>Cuenta Bancaria</th>
            <th>Uso</th>
            <th>Combinación Cuenta</th>             
            <th>Documento de Pago</th>  
            <th>Estatus</th>  
            <th>Acciones</th>  
          </tr>
          </thead>
          <tbody>
              <tr *ngFor="let general of general | async">
                  <td>{{general.manage_banks_bank_name}}</td>
                  <td>{{general.bank_accounts_currency}}</td>
                  <td>{{general.bank_accounts_bank_account_number}}</td>
                  <td>{{general.bank_accounts_use_account}}</td>
                  <td>{{general.accounting_accounts_id}}</td>
                  <td>{{general.payment_documents_name_payment_document}}</td>
                  <td>
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" [checked]="general.bank_accounts_status == 'true'">
                        <label class="custom-control-label" for="periodsStatus">Active</label>
                     </div>
                    </td>
                  <td>
                      <button  class="btn btn-outline-danger"  (click)="createPeriodsDialog.show()">Eliminar</button>
                      <button (click)="updateGeneral(general.bank_accounts_id)" class="btn btn-outline-info" style="margin-left: 10px">Actualizar</button>
                      <button (click)="generalDetails(general.bank_accounts_id)" class="btn btn-outline-info" style="margin-left: 10px">Detalles</button>    
                      <app-ui-modal #createPeriodsDialog dialogClass="modal-dialog-centered">
                        <div class="app-modal-header">
                        <h5 class="modal-title">Eliminar </h5>
                        <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="createPeriodsDialog.hide()"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="app-modal-body">
                        <p>Esta seguro de eliminar ?</p>
                        </div>
                        <div class="app-modal-footer">
                        <button type="button" class="btn btn-secondary"   style="margin-left: 10px"   data-dismiss="modal" (click)="createPeriodsDialog.hide()">Cerrar</button>
                        <button type="submit" class="btn btn-danger"  (click)="deleteGeneral(general.bank_accounts_id)"   (click)="createPeriodsDialog.hide()"  style="margin-left: 10px">Eliminar</button>
                        </div>
                    </app-ui-modal>
                  </td>          
              </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>