<div class="row justify-content-center">
    <div class="col-sm-12">
      <div class="col-md-6">
        <app-card cardTitle="Crear Proveedor" [options]="false">
          <form (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="name">Nombre Completo</label>
              <input type="text" class="form-control" placeholder="Nombre" id="supplier_name"  [(ngModel)]="employee.supplier_name" name="supplier_name"    required="required"> 
            </div>      
            <div class="form-group">
              <label for="name">Dirección</label>
              <input type="text" class="form-control" id="supplier_address"   placeholder="Dirección" [(ngModel)]="employee.supplier_address" name="supplier_address" required="required">
            </div>  
            <div class="form-group">
              <label for="name">RFC</label>
              <input font style="text-transform: uppercase;"  pattern="[A-Za-z0-9]{8,12}" type="text" class="form-control"   placeholder="RFC" [(ngModel)]="employee.supplier_rfc" name="supplier_rfc" required="required">
            </div>
            

 



            <div class="form-group">
                <label for="name">EMAIL</label>
                
                <input type="email"  class="form-control" id="supplier_email"  [(ngModel)]="employee.supplier_email" name="supplier_email" aria-describedby="emailHelp" placeholder="@email" required="required">
            </div>

            <div class="form-group">
              <label  for="phone">TELEFONO</label>
              <input type="number" id="phone"  placeholder="123-45-678" pattern="[0-9][0-9]-[0-9][0-9]-[0-9][0-9]-[0-9][0-9]"  max="999999999" class="form-control" id="supplier_phone"  [(ngModel)]="employee.supplier_phone" name="supplier_phone" required="required">
          </div>

          


          <div class="form-group">
            <label for="name">Giro </label>
            <input type="text" class="form-control" id="supplier_turn" placeholder="Giro"  [(ngModel)]="employee.supplier_turn" name="supplier_turn" required="required">
        </div>
        
   
         

            <div class="form-group">
                <label for="name">Estatus</label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input"  id="supplier_status"  [(ngModel)]="employee.supplier_status"     name="supplier_status"   style="margin-left: 10px">
                    <label class="custom-control-label" for="supplier_status">Active</label>
                 </div>
            </div>
            
            <app-alert type="success" [hidden]="alertDisables">{{alertMessages}}</app-alert>
            <app-alert type="danger" [hidden]="alertDisable">{{alertMessage}}</app-alert> 
            <app-alert type="success" [hidden]="alertDisables">{{alertMessages}}</app-alert>
            <button type="submit" class="btn btn-success">Guardar</button>          
            <button [routerLink]="['/supplier-list']" class="btn btn-danger" style="margin-left: 10px">Cancelar</button>
          </form>
        </app-card>


  

      </div>


   

    </div>