<div class="row justify-content-center">
    <div class="col-sm-12">
      <app-card cardTitle="Registro de pago Detalle" [options]="false">
        <div  id="from-informacion" *ngIf="employee">

         
            <div>
              <label><b>nombre: </b></label> {{employee.name_creditor}}
            </div>
            <div>
              <label><b>factura: </b></label> {{employee.billtopay_invoice_folio }}
            </div>
            <div>
              <label><b>FECHA DE PAGO: </b></label> {{employee.billtopay_invoice_date }}
            </div>
            <div>
            <label><b>Total pagado: </b></label> {{employee.purcharse_order_total }}
          </div>
          <div>
            <label><b>tipo de pago: </b></label> {{employee.metodo_tipo}}
          </div>
         
          <div>
            <button (click)="gocv()" class="btn btn-info">Descargar COMPROBANTE</button>
          </div>
   

          <div>
            <label><b>Estatus:  </b></label>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input"  id="payment_status"  name="payment_status"   style="margin-left: 10px" [checked]="employee.payment_status == 'true'">
            <label class="custom-control-label" for="payment_status">Active</label>
         </div>
        </div>
        </div>
        <br>
        <button [routerLink]="['/payment-record-list']" class="btn btn-outline-primary">Regresar</button><br>
        <button type="button"   class="btn btn-outline-primary" (click)="imprimirLista()">Imprimir pdf reporte </button>
     
      </app-card>

      </div>
  </div>
    