<div class="row">
    <div class="col-xl-12">
      <app-card cardTitle="General List" blockClass="table-border-style">      
        <button [routerLink]="['/create-general']" class="btn btn-primary">Add General</button><br>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>#</th>
              <th>Nombre Completo</th>
              <th>Dirección Completa</th>
              <th>Comentarios</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let general of general | async">
                    <td>{{general.id}}</td>
                    <td>{{general.nombre_principal}} {{general.apellido_paterno}} {{general.apellido_materno}}</td>
                    <td>{{general.direccion_principal}} {{general.direccion_secundaria}}</td>
                    <td>{{general.comentarios}}</td>
                    <td>                 
                        <button (click)="deleteGeneral(general.id)" class="btn btn-danger">Delete</button>
                        <button (click)="updateGeneral(general.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
                        <button (click)="generalDetails(general.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
                    </td>
                </tr>
            </tbody>
          </table>
        </div>
      </app-card>
    </div>
  </div>