<p>workplaces-update works!</p>
<div class="row justify-content-center">
  <div class="col-sm-12">
    <div class="col-md-6">
      <app-card cardTitle="Actualizar puesto" [options]="false">
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name">Nombre puesto</label>
            <input type="text" class="form-control" id="workplaces_name"  [(ngModel)]="workplace.workplaces_name" name="workplaces_name" required>
          </div>     
          <div class="form-group">
              <label for="name">Estatus</label> 
              <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input"  id="workplaces_status"  [(ngModel)]="workplace.workplaces_status"     name="workplaces_status"   style="margin-left: 10px">
                  <label class="custom-control-label" for="workplaces_status">Active</label>
               </div>
          </div>
          <app-alert type="danger" [hidden]="alertDisable">{{alertMessage}}</app-alert> 
          <app-alert type="success" [hidden]="alertDisables">{{alertMessages}}</app-alert> 
          <button type="submit" class="btn btn-success">Guardar</button>          
          <button [routerLink]="['/workplaces-list']" class="btn btn-danger" style="margin-left: 10px">Cancelar</button>
        </form>
      </app-card>
    </div>
  </div>