<div class="row">
    <div class="col-xl-12">
      <app-card cardTitle="Permisos" blockClass="table-border-style">      
        <button [routerLink]="['/create-permissions']"   class="btn btn-outline-primary" >Agregar Permisos</button>
        <br><br>
        <div class="table-responsive">
          <app-alert type="danger" [hidden]="alertDisable">{{alertMessage}}</app-alert>
          <app-alert type="success" [hidden]="alertDisables">{{alertMessages}}</app-alert>
          <table class="table">
            <thead>
            <tr>
              <th>Rol</th>
              <th>Descripción</th>            
              <th>Compras</th>
              <th>Cuentas por pagar</th>
              <th>Nomina</th>
              <th>Tesoreria</th>
              <th>Contabilidad</th>
              <th>Cuentas por Cobrar</th>
              <th>Inventario</th>
              <th>Recursos Humanos</th>
              <th>Residente</th>
              <th>Administración</th>
              <th>Control accesos</th>
              <th>Proveedores</th>
              <th>Estatus</th>
              <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let general of general | async">
                    <td>{{general.rol_description}}</td>
                    <td>{{general.permissions_description}}</td>
                      <td>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" [checked]="general.permissions_compras== 'Activo'">
                          <label class="custom-control-label" for="permissions_compras">{{general.permissions_compras}}</label>
                       </div>
                      </td>
                      <td>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" [checked]="general.permissions_cxp == 'Activo'">
                          <label class="custom-control-label" for="permissions_cxp">{{general.permissions_cxp}}</label>
                       </div>
                      </td>

                      <td>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" [checked]="general.permissions_nomina == 'Activo'">
                          <label class="custom-control-label" for="permissions_nomina">{{general.permissions_nomina}}</label>
                       </div>
                      </td>

                      <td>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" [checked]="general.permissions_tesoreria == 'Activo'">
                          <label class="custom-control-label" for="permissions_tesoreria">{{general.permissions_tesoreria}}</label>
                       </div>
                      </td>


                      <td>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" [checked]="general.permissions_contabilidad == 'Activo'">
                          <label class="custom-control-label" for="permissions_contabilidad">{{general.permissions_contabilidad}}</label>
                       </div>
                      </td>


                      <td>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" [checked]="general.permissions_cxc == 'Activo'">
                          <label class="custom-control-label" for="permissions_cxc">{{general.permissions_cxc}}</label>
                       </div>
                      </td>

                      <td>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" [checked]="general.permissions_inventario == 'Activo'">
                          <label class="custom-control-label" for="permissions_inventario">{{general.permissions_inventario}}</label>
                       </div>
                      </td>

                      <td>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" [checked]="general.permissions_rh == 'Activo'">
                          <label class="custom-control-label" for="permissions_rh">{{general.permissions_rh}}</label>
                       </div>
                      </td>

                      <td>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" [checked]="general.permissions_inquilino == 'true'">
                          <label class="custom-control-label" for="permissions_inquilino">{{general.permissions_inquilino}}</label>
                       </div>
                      </td>

                      <td>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" [checked]="general.permissions_admin == 'Activo'">
                          <label class="custom-control-label" for="permissions_admin">{{general.permissions_admin}}</label>
                       </div>
                      </td>

                      <td>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" [checked]="general.permissions_control == 'Activo'">
                          <label class="custom-control-label" for="permissions_control">{{general.permissions_control}}</label>
                       </div>
                      </td>

                      <td>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" [checked]="general.permissions_proveedor == 'Activo'">
                          <label class="custom-control-label" for="permissions_proveedor">{{general.permissions_proveedor}}</label>
                       </div>
                      </td>

                      <td>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" [checked]="general.permissions_status == 'Activo'">
                          <label class="custom-control-label" for="permissions_status">{{general.permissions_status}}</label>
                       </div>
                      </td>
                    <td>
                        <button (click)="transacciones(general.permissions_id)" class="btn btn-outline-info" style="margin-left: 10px">Transacciones</button>   
                        <button  class="btn btn-outline-danger"  (click)="createPeriodsDialog.show()" style="margin-left: 10px">Eliminar</button>
                        <button (click)="updateGeneral(general.permissions_id)" class="btn btn-outline-info" style="margin-left: 10px">Actualizar</button>
                        <button (click)="generalDetails(general.permissions_id)" class="btn btn-outline-info" style="margin-left: 10px">Detalles</button> 
                        <app-ui-modal #createPeriodsDialog dialogClass="modal-dialog-centered">
                          <div class="app-modal-header">
                          <h5 class="modal-title">Eliminar Permisos</h5>
                          <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="createPeriodsDialog.hide()"><span aria-hidden="true">&times;</span></button>
                          </div>
                          <div class="app-modal-body">
                          <p>Esta seguro de eliminar el permiso?</p>
                          </div>
                          <div class="app-modal-footer">
                          <button type="button" class="btn btn-secondary"   style="margin-left: 10px"   data-dismiss="modal" (click)="createPeriodsDialog.hide()">Cerrar</button>
                          <button type="submit" class="btn btn-danger"  (click)="deleteGeneral(general.permissions_id)"   (click)="createPeriodsDialog.hide()"  style="margin-left: 10px">Eliminar</button>
                          </div>
                      </app-ui-modal>
                    </td>          
                </tr>
            </tbody>
          </table>
        </div>
      </app-card>
    </div>
  </div>