<div class="row">
    <div class="col-xl-12">
      <app-card cardTitle="Transacción de Entradas" blockClass="table-border-style">      
        <button [routerLink]="['/create-entrys']" class="btn btn-outline-info">Agregar Transacción de Entrada</button><br>

        <button [routerLink]="['/create-entrys']" class="btn btn-outline-info">Agregar Transaccion de Salida </button><br>
        <br>
        <div class="table-responsive">
          <table class="table">
            <thead>
                <tr>   
                  
                  <th>Tipo de transaccion</th>
                          
                    <th>Articulo</th>
                  
                    <th>Concepto</th>
                    
                    
                    
                    <th>SubInventario</th>
                    <th>Costo de Transacción</th>

                    <th>Tipo de Precio</th>
                    <th>Estatus de articulo</th>
                  </tr>
            </thead>
            <tbody>
                <tr *ngFor="let general of general | async">
                  <td>{{general.tipo_transation}}</td>
                    <td>{{general.articles_name_article}}</td>   
                 
                    <td>{{general.purcharse_name}} & {{general.purcharse_id}} </td>
                    <td>{{general.sub_inventarys_description}}</td>
                    <td>{{general.transactions_entrys_cost}}</td>
                    <td>{{general.price_nombre}}</td> 
                    <td>{{general.status_name}}</td>
                    
                    <td>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" [checked]="general.transactions_entrys_status == 'true'">
                          <label class="custom-control-label" for="transactions_entrys_status">Active</label>
                       </div>
                      </td>

                    <td>

                        <button (click)="deleteGeneral(general.sub_categories_id)"  class="btn btn-outline-danger">Eliminar</button>
                        <button (click)="updateTransac(general.transactions_entrys_sku)" class="btn btn-outline-info" style="margin-left: 10px">Actualizar</button>
                        <button (click)="generalDetails(general.transactions_entrys_sku)" class="btn btn-outline-info" style="margin-left: 10px">Detalles</button>    

  
                    </td>
                </tr>
            </tbody>
          </table>
        </div>
      </app-card>
    </div>
  </div>