<div class="row justify-content-center">
    <div class="col-sm-12">
      <div class="col-md-6">
        <app-card cardTitle="Crear Unidad de Medida " [options]="false">
          <form (ngSubmit)="onSubmit()">





            <div class="form-group">
              <label for="name">Nombre</label>
              <input type="text" class="form-control" id="unit_of_measures_nombre"  [(ngModel)]="employee.unit_of_measures_nombre" name="unit_of_measures_nombre" required> 
            </div>
            <div class="form-group">
              <label for="name">Codigo</label>
              <input type="text" class="form-control" id="of_measuares_description"  [(ngModel)]="employee.of_measuares_description" name="of_measuares_description" required> 
            </div>  

            <div class="form-group">
              <label for="name">Descripción</label>
              <input type="text" class="form-control" id="unit_of_measures_identificador"  [(ngModel)]="employee.unit_of_measures_identificador" name="unit_of_measures_identificador" required> 
            </div>



               
            <div class="form-group">
              <label for="name">Estatus</label>
              <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input"  id="of_measuares_status"  [(ngModel)]="employee.of_measuares_status"     name="of_measuares_status"   style="margin-left: 10px">
                  <label class="custom-control-label" for="of_measuares_status">Active</label>
               </div>
          </div>
          <app-alert type="danger" [hidden]="alertDisable">{{alertMessage}}</app-alert> 
          <app-alert type="success" [hidden]="alertDisables">{{alertMessages}}</app-alert> 

          <app-ui-modal #createPeriodsDialog dialogClass="modal-dialog-centered">
            <div class="app-modal-header">
            <h5 class="modal-title">Crear Descripción</h5>
            <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="createPeriodsDialog.hide()"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="app-modal-body">
            <p>Esta seguro de insertar la descripción</p>
            </div>
            <div class="app-modal-footer">
            <button type="button" class="btn btn-secondary"   style="margin-left: 10px"   data-dismiss="modal" (click)="createPeriodsDialog.hide()">Cerrar</button>
            <button type="submit" class="btn btn-success" (click)="createPeriodsDialog.hide()"  style="margin-left: 10px">Guardar</button>
            </div>
        </app-ui-modal>
          <button type="button"  class="btn btn-primary" data-toggle="modal" (click)="createPeriodsDialog.show()">Guardar</button>          
          <button [routerLink]="['/unitof-measures-list']" class="btn btn-secondary" style="margin-left: 10px">Regresar</button>
          </form>
        </app-card>
      </div>
    </div>