<div class="row">
    <div class="col-xl-12">
      <app-card cardTitle="contabilidad cuentas" blockClass="table-border-style">      
        <div class="app-modal-footer">
        <button [routerLink]="['/create-accounts']"   class="btn btn-outline-primary" >Agregar Cuentas</button> 
        <button style="margin: 10px" [routerLink]="['/accolintype-list']"   class="btn btn-outline-primary" >Agregar tipo cuenta </button>
        <button style="margin: 10px" [routerLink]="['/lines-list']"   class="btn btn-outline-primary" >Agregar cuenta contable </button>
      </div>
        <div class="table-responsive">
          <app-alert type="danger" [hidden]="alertDisable">{{alertMessage}}</app-alert> 
          <app-alert type="success" [hidden]="alertDisables">{{alertMessages}}</app-alert> 
          <table class="table">
            <thead>
            <tr>    
             
                    
              <th>Condominio descripcion</th>
              <th>codigo de moneda </th>
              
              <th>nombre de periodo</th>
              <th>año fiscal</th>
              <th>Estatus </th>
              <th>#</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let general of general | async">
                  
                  
                    
                    <td>{{general.condominums_description}}</td>
                    <td>{{general.accounting_accounts_currency_code}}</td>
                   
                    <td>{{general.periods_name}}</td>
                    <td>{{general.accounting_accounts_fiscal_year}}</td>
                    
                    <td>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" [checked]="general.accounting_accounts_status == 'true'">
                          <label class="custom-control-label" for="periodsStatus">Active</label>
                       </div>
                      </td>

                    <td>
                        <button  class="btn btn-outline-danger"  (click)="createPeriodsDialog.show()">Eliminar</button>
                        <button (click)="updateGeneral(general.accounting_accounts_id)" class="btn btn-outline-info" style="margin-left: 10px">Actualizar</button>
                        <button (click)="generalDetails(general.accounting_accounts_id)" class="btn btn-outline-info" style="margin-left: 10px">Detalles</button>    
                        
                        
                        
                        <app-ui-modal #createPeriodsDialog dialogClass="modal-dialog-centered">
                          <div class="app-modal-header">
                          <h5 class="modal-title">Eliminar cuentas</h5>
                          <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="createPeriodsDialog.hide()"><span aria-hidden="true">&times;</span></button>
                          </div>

                          <div class="app-modal-body">
                          <p>Esta seguro de eliminar la cuenta?</p>
                          </div>
                          <div class="app-modal-footer">
                          <button type="button" class="btn btn-secondary"   style="margin-left: 10px"   data-dismiss="modal" (click)="createPeriodsDialog.hide()">Cerrar</button>
                          <button type="submit" class="btn btn-danger"  (click)="deleteGeneral(general.accounting_accounts_id)"   (click)="createPeriodsDialog.hide()"  style="margin-left: 10px">Eliminar</button>
                          </div>
                      </app-ui-modal>
                    </td>          
                </tr>
            </tbody>
          </table>
        </div>
      </app-card>
    </div>
  </div>