<div class="row justify-content-center">
  <div class="col-sm-12">
    <app-card cardTitle="Detalles de Cuentas Bancarias" [options]="false">
      <div *ngIf="employee">
        <div>
          <label><b>Banco: </b></label> {{employee.manage_banks_bank_name}}
        </div>
        <div>
          <label><b>Número de Cuenta Bancaria: </b></label> {{employee.bank_accounts_bank_account_number}}
        </div>
        <div>
          <label><b>Moneda:</b></label> {{employee.bank_accounts_currency}}
        </div>
        <div>
          <label><b>Uso:</b></label> {{employee.bank_accounts_use_account}}
        </div>
        <div>
          <label><b>Combinación de Cuenta Contable: </b></label> {{employee.accounting_accounts_id}}
        </div>
        <div>
          <label><b>Documento de Pago: </b></label> {{employee.payment_documents_name_payment_document}}
        </div>
        <div>
          <label for="name">Estatus</label>
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input"  id="bank_accounts_status"  name="bank_accounts_status"   style="margin-left: 10px" [checked]="employee.bank_accounts_status == 'true'">
          <label class="custom-control-label" for="bank_accounts_status">Active</label>
       </div>
      </div>
      </div>
      <br>
      <button [routerLink]="['/bank-accounts-list']" class="btn btn-primary">Regresar a Lista de Cuentas Bancarias</button><br>
    </app-card>
    </div>
</div>
