    <div class="row justify-content-center">
      <div class="col-sm-12">
        <div class="col-md-6">
          <app-card cardTitle="Actualizar Acredor" [options]="false">
            <form (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="name">Nombre Completo</label>
                <input type="text" class="form-control" id="creditor_business_name"  [(ngModel)]="employee.creditor_business_name" name="creditor_business_name" required>
              </div>      
              <div class="form-group">
                <label for="name">Dirección</label>
                <input type="text" class="form-control" id="creditor_addres"  [(ngModel)]="employee.creditor_addres" name="creditor_addres" required>
              </div>  
              <div class="form-group">
                <label for="name">Giro</label>
                <input type="text" class="form-control" id="creditor_turn"  [(ngModel)]="employee.creditor_turn" name="creditor_turn" required>
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">cuenta</label>
                <select  type="text" class="form-control"  id="creditor_cuenta" required [(ngModel)]="employee.creditor_cuenta" name="creditor_cuenta" >
                <option *ngFor="let creditors of creditor | async" value="{{creditors.bank_accounts_bank_account_number}}">{{creditors.bank_accounts_bank_account_number}}</option>
                </select>
            </div>  
              <div class="form-group">
                <label for="name">telefono</label>
                <input type="text" class="form-control" id="creditor_tel"  [(ngModel)]="employee.creditor_tel" name="creditor_tel" required>
              </div>
              <div class="form-group">
                <label for="name">RFC</label>
                <input type="text" class="form-control" id="creditor_rfc"  [(ngModel)]="employee.creditor_rfc" name="creditor_rfc" required>
              </div>
              <div class="form-group">
                  <label for="name">Estatus</label> 
  
                  <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input"  id="creditor_status"  [(ngModel)]="employee.creditor_status"     name="creditor_status"   style="margin-left: 10px">
                      <label class="custom-control-label" for="creditor_status">Active</label>
                   </div>
              </div>
              <app-alert type="danger" [hidden]="alertDisable">{{alertMessage}}</app-alert> 
              <app-alert type="success" [hidden]="alertDisables">{{alertMessages}}</app-alert> 
              <app-ui-modal #createPeriodsDialog dialogClass="modal-dialog-centered">
                <div class="app-modal-header">
                <h5 class="modal-title">Autualizar Acredor</h5>
                <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="createPeriodsDialog.hide()"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="app-modal-body">
                <p>Esta seguro de actualizar un acredor </p>
                </div>
                <div class="app-modal-footer">
                <button type="button" class="btn btn-secondary"   style="margin-left: 10px"   data-dismiss="modal" (click)="createPeriodsDialog.hide()">Cerrar</button>
                <button type="submit" class="btn btn-success" (click)="createPeriodsDialog.hide()"  style="margin-left: 10px">Guardar</button>
                </div>
            </app-ui-modal>
            <button type="button"  class="btn btn-outline-primary" data-toggle="modal" (click)="createPeriodsDialog.show()">Guardar</button>          
            <button [routerLink]="['/creditor-list']" class="btn btn-outline-secondary" style="margin-left: 10px">Regresar</button>
            </form>
          </app-card>
        </div>
      </div>