<p>agreements-details works!</p>
<div class="row justify-content-center">
    <div class="col-sm-12">
      <app-card cardTitle="Contrato Detalle" [options]="false">
        <div *ngIf="agreement">
          <div>
            <label><b>Nombre: </b></label> {{agreement.agreements_name}}
          </div>
          <div>
            <label><b>Apellido paterno: </b></label> {{agreement.agreements_father_surname}}
          </div>
          <div>
            <label><b>Apellido materno: </b></label> {{agreement.agreements_mother_surname}}
          </div>
          <div>
            <label><b>Numero de residencia: </b></label> {{agreement.agreements_residential_number}}
          </div>
          <div>
            <label><b>Deposito: </b></label> {{agreement.agreements_deposit}}
          </div>
          <div>
            <label><b>Fecha inicio de contrato: </b></label> {{agreement.agreements_start_date}}
          </div>
          <div>
            <label><b>Fecha de fin del contrato: </b></label> {{agreement.agreements_end_date}}
          </div>
          <div>
            <label><b>Estatus:  </b></label>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input"  id="agreements_status"       name="agreements_status"   style="margin-left: 10px" [checked]="agreement.agreements_status == 'true'">
                <label class="custom-control-label" for="agreements_status">Active</label>
             </div>
        </div>
        </div>
        <br>
        <button [routerLink]="['/agreements-list']" class="btn btn-primary">Regresar a Departamentos</button><br>
      </app-card>
      </div>
  </div>