<div class="row">
    <div class="col-xl-12">
      <app-card cardTitle="Documentos de Pago" blockClass="table-border-style">      
        <button [routerLink]="['/payment-documents-create']" class="btn btn-primary">Agregar Documento de Pago</button><br>
        <br>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>              
              <th>Nombre de Documento de Pago</th>
              <th>Formato de Pago</th>             
              <th>Estado de Pago</th>
              <th>Categoria de Documento de Pago</th>
              <th>Datos de la Chequera</th>
              <th>Banco</th>
              <th>Estatus</th>  
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let general of general | async">
                   
                    <td>{{general.payment_documents_name_payment_document}}</td>
                    <td>{{general.payment_documents_payment_format}}</td>
                    <td>{{general.payment_documents_status_state}}</td>
                    <td>{{general.payment_documents_payment_document_category}}</td>
                    <td>{{general.payment_documents_checkbook_data}}</td>
                    <td>{{general.bank_accounts_id}}</td>                  
                    <td>{{general.payment_documents_status}}</td>
                    <td>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" [checked]="general.payment_documents_status == 'true'">
                          <label class="custom-control-label" for="payment_documents_status">Active</label>
                       </div>
                      </td>
  
                    <td>
                        <button (click)="deleteGeneral(general.payment_documents_id)"  class="btn btn-outline-danger">Eliminar</button>
                        <button (click)="updateGeneral(general.payment_documents_id)" class="btn btn-outline-info" style="margin-left: 10px">Actualizar</button>
                        <button (click)="generalDetails(general.payment_documents_id)" class="btn btn-outline-info" style="margin-left: 10px">Detalles</button>    
                    </td>
                </tr>
            </tbody>
          </table>
        </div>
      </app-card>
    </div>
  </div>