<p>create-payment-documents works!</p>
<div class="row justify-content-center">
    <div class="col-sm-12">
      <div class="col-md-6">
        <app-card cardTitle="Crear Documento de Pago" [options]="false">
          <form (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="name">Nombre de Documento de Pago</label>
              <input type="text" class="form-control" id="payment_documents_name_payment_document"  [(ngModel)]="employee.payment_documents_name_payment_document" name="payment_documents_name_payment_document" required> 
            </div>      
            <div class="form-group">
              <label for="name">Formato de Pago</label>
              <input type="text" class="form-control" id="payment_documents_payment_format"  [(ngModel)]="employee.payment_documents_payment_format" name="payment_documents_payment_format" required>
            </div>  
            <div class="form-group">
              <label for="name">Categoría de Documento de Pago</label>
              <input type="text" class="form-control" id="payment_documents_payment_document_category"  [(ngModel)]="employee.payment_documents_payment_document_category" name="payment_documents_payment_document_category" required> 
            </div>      
            <div class="form-group">
              <label for="name">Datos de la Chequera</label>
              <input type="text" class="form-control" id="payment_documents_checkbook_data"  [(ngModel)]="employee.payment_documents_checkbook_data" name="payment_documents_checkbook_data" required>
            </div>  
            <div class="form-group">
              <label for="exampleFormControlSelect1">Banco</label>
              <select  class="custom-select"  id="manage_banks_id" required [(ngModel)]="employee.manage_banks_id" name="manage_banks_id" >
              <option *ngFor="let manage of manages | async" value="{{manage.manage_banks_id}}">{{manage.manage_banks_bank_name}}</option>
              </select>
          </div>      
            <div class="form-group">
                <label for="name">Estado</label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input"  id="payment_documents_status"  [(ngModel)]="employee.payment_documents_status"     name="payment_documents_status"   style="margin-left: 10px">
                    <label class="custom-control-label" for="payment_documents_status">Active</label>
                 </div>
            </div>
            <button type="submit" class="btn btn-success">Guardar</button>          
            <button [routerLink]="['/payment-documents-list']" class="btn btn-danger" style="margin-left: 10px">Cancelar</button>
          </form>
        </app-card>
      </div>
    </div>