<div class="row justify-content-center">
    <div class="col-sm-12">
      <div class="col-md-6">
        <app-card cardTitle="Agregar Aviso" [options]="false">
          <form (ngSubmit)="onSubmit()">  
            <div class="form-group">
                <label for="name">*Asunto: </label>
                <input type="text" class="form-control" id="releases_subject"  [(ngModel)]="release.releases_subject" name="releases_subject" required> 
              </div>   
              <div class="custom-file">
                <input type="file" alife-file-to-base (change)="handleUpload($event)" class="custom-file-input" id="release.releases_attached"   name="releases_attached">
                <label class="custom-file-label" for="validatedCustomFile">Elegir adjunto ...</label>
                <div class="invalid-feedback">Archivo invalido</div>
              </div>          
            <div class="form-group">
                <label for="name">Estatus:</label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input"  id="releases_status"  [(ngModel)]="release.releases_status"     name="releases_status"   style="margin-left: 10px">
                    <label class="custom-control-label" for="releases_status">Active</label>
                 </div>
            </div>
            <app-alert type="danger" [hidden]="alertDisable">{{alertMessage}}</app-alert> 
            <app-alert type="success" [hidden]="alertDisables">{{alertMessages}}</app-alert> 
            <button type="submit"  class="btn btn-outline-primary">Guardar</button>        
            <button [routerLink]="['/list-releases']" class="btn btn-outline-secondary" style="margin-left: 10px">Regresar</button>
          </form>
        </app-card>
      </div>
    </div>