<p>conciliacion-details works!</p>
<div    class="row justify-content-center">
    <div class="col-sm-12">
      <app-card cardTitle="consolidar  Detalle" [options]="false">
        <div id="from-informacion" *ngIf="employee">

          
         
        </div>
        <br>
        <button [routerLink]="['/conciliacion-list']" class="btn btn-outline-primary">Regresar</button><br>
        <button type="button"   class="btn btn-outline-primary" (click)="imprimirLista()">Imprimir pdf reporte </button>
      </app-card>
      </div>
  </div>