<div class="row justify-content-center">
    <div class="col-sm-12">
        <div class="col-md-6">
            <app-card cardTitle="Update Colletion" [options]="false">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label for="name">collection_transaction_type</label>
                        <input type="text" class="form-control" id="collection_transaction_type"
                            [(ngModel)]="collection.collection_transaction_type" name="collection_transaction_type"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="name">collection_name_resident</label>
                        <input type="text" class="form-control" id="collection_name_resident"
                            [(ngModel)]="collection.collection_name_resident" name="collection_name_resident" required>
                    </div>
                    

                    <div class="form-group">
                        <label for="name">collection_referral_address</label>
                        <input type="text" class="form-control" id="collection_referral_address"
                            [(ngModel)]="collection.collection_referral_address" name="collection_referral_address"
                            required>
                    </div>

                    <div class="form-group">
                        <label for="name">condominums_id</label>
                        <input type="text" class="form-control" id="condominums_id"
                            [(ngModel)]="collection.condominums_id" name="condominums_id" required>
                    </div>
                    <div class="form-group">
                        <label for="name">created_by</label>
                        <input type="text" class="form-control" id="created_by" [(ngModel)]="collection.created_by"
                            name="created_by" required>
                    </div>
                    <div class="form-group">
                        <label for="name">last_updated_by</label>
                        <input type="text" class="form-control" id="last_updated_by"
                            [(ngModel)]="collection.last_updated_by" name="last_updated_by" required>
                    </div>
                    <div class="form-group">
                        <label for="name">last_updated_date</label>
                        <input type="text" class="form-control" id="last_updated_date"
                            [(ngModel)]="collection.last_updated_date" name="last_updated_date" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="name">collection_status</label>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="collection_status"
                                [(ngModel)]="collection.collection_status" name="collection_status"
                                style="margin-left: 10px">
                            <label class="custom-control-label" for="collection_status">Active</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Guardar</button>
                    <button [routerLink]="['/update-collection']" class="btn btn-danger"
                        style="margin-left: 10px">Cancelar</button>
                </form>
            </app-card>
        </div>
    </div>