<div class="row justify-content-center">
    <div class="col-sm-12">
      <div class="col-md-6">
        <app-card cardTitle="Agregar Asignacion de Tablero de Control" [options]="false">
          <form (ngSubmit)="onSubmit()">  
           
              <div class="form-group">
                <label for="exampleFormControlSelect1">*Tipo de Usuario:</label>
                <select  class="custom-select"  id="typeuser_id" required [(ngModel)]="employee.typeuser_id" name="typeuser_id" >
                <option *ngFor="let address of typeuser | async" value="{{address.typeuser_id}}">{{address.typeuser_description}}</option>
                </select>
            </div>            
            
            <div class="form-group">
                <label for="exampleFormControlSelect1">*Residente:</label>
                <select  class="custom-select"  id="tenants_id" required [(ngModel)]="employee.tenants_id" name="tenants_id" >
                <option *ngFor="let address of tenants | async" value="{{address.tenants_id}}">{{address.tenants_name}} {{address.tenants_father_surname}} {{address.tenants_mother_surname}}</option>
                </select>
            </div>  


            <app-alert type="danger" [hidden]="alertDisable">{{alertMessage}}</app-alert> 
            <app-alert type="success" [hidden]="alertDisables">{{alertMessages}}</app-alert> 
            <button type="submit"  class="btn btn-outline-primary">Guardar</button>        
            <button (click)="gotoList()"  class="btn btn-outline-secondary" style="margin-left: 10px">Regresar</button>
          </form>
        </app-card>
      </div>
    </div>