<div class="row justify-content-center">
    <div class="col-sm-12">
      <app-card cardTitle="Articulos Detalle" [options]="false">
        <div *ngIf="employee">
          <div>
            <label><b>Articulo Nombre: </b></label> {{employee.articles_name_article}}
          </div>

          <div>
            <label><b>SKU: </b></label> {{employee.articulo_sku}}
          </div>


          <div>
            <label><b>Articulo Descripción: </b></label> {{employee.articles_description}}
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Unidad de Medida</label>
            <select  disabled class="custom-select" id="unit_of_measuares_id" required [(ngModel)]="employee.unit_of_measuares_id" name="unit_of_measuares_id"  >
            <option *ngFor="let address of addresses1 | async" value="{{address.of_measuares_id}}">{{address.of_measuares_description}}</option>
            </select>
            </div>
          
          <div>
            <label><b>Articulo Precio: </b></label> {{employee.articles_articles_price}}
          </div>

          <div>
            <label><b>Articulo Externo: </b></label> {{employee.articles_external_feactures}}
          </div>
          <div>




            <div>
              <label><b>Ancho: </b></label> {{employee.articles_width}}
            </div>
            
            
              
              <div>
                <label><b>Alto: </b></label> {{employee.articles_tall}}
              </div>
              
              
              
                <div>
                  <label><b>Largo: </b></label> {{employee.articles_long}}
                </div>
                
                <div>
                 <label><b>Longitud: </b></label> {{employee.lote_longitud}}
                  </div>
                  
                    <div>
                      <label><b>Latitud: </b></label> {{employee.lote_latitud}}
                    </div>
                    
                   

            <label><b>Caractertisticas Internas: </b>
            </label> {{employee.articles_internal_characteristics}}
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Sub Categorias</label>
            <select  disabled class="custom-select"  id="sub_categories_id" required [(ngModel)]="employee.sub_categories_id" name="sub_categories_id" >
            <option *ngFor="let address of addresses | async" value="{{address.sub_categories_id}}">{{address.sub_categories_name}}</option>
            </select>
        </div> 
        <div class="form-group">
          <label for="name">Espacio en comun</label>
          <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input"  id="articles_common_spaces"   [checked]="employee.articles_common_spaces == 'true' "     name="articles_common_spaces"   style="margin-left: 10px">
              <label class="custom-control-label" for="articles_common_spaces">Active</label>
           </div>
          </div>




          <div class="form-group">
            <label for="name">Lote o Vivienda </label>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input"  id="articles_lot_place"   [checked]="employee.articles_lot_place == 'true'"     name="articles_lot_place"   style="margin-left: 10px">
                <label class="custom-control-label" for="articles_lot_place">Active</label>
             </div>
            </div>
          
          <div>
            <label><b>Estatus:  </b></label>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input"  id="articles_status"  name="articles_status"   style="margin-left: 10px" [checked]="employee.articles_status == 'true'">
                <label class="custom-control-label" for="articles_status">Active</label>
             </div>
        </div>
        </div>
        <br>
        <button [routerLink]="['/Articles-list']" class="btn btn-primary">Regresar a Articulos</button><br>
      </app-card>
      </div>
  </div>