<div class="row">
    <div class="col-xl-12">
      <app-card cardTitle="Empresas" blockClass="table-border-style">
        <button [routerLink]="['/create-legals']"   class="btn btn-outline-primary" >Agregar Empresa</button>
        <br><br>
        <div class="table-responsive">
          <app-alert type="danger" [hidden]="alertDisable">{{alertMessage}}</app-alert>
          <app-alert type="success" [hidden]="alertDisables">{{alertMessages}}</app-alert>


          <iframe
          src="https://arvis.mx/ArvisAdmin/Videos/videoplayback.mp4"
          frameborder="0"
          webkitallowfullscreen
          mozallowfullscreen
          allowfullscreen
        ></iframe>

          <table class="table">
            <thead>
            <tr>
              <th>Empresa</th>
              <th>Dirección</th>
              <th>Descripción</th>
              <th>RFC</th>
              <th>Registro Patronal</th>
              <th>Regimen Fiscal</th>
              <th>Estatus </th>
              <th>Acciones </th>
            </tr>
            </thead>
            <!--
            <tbody>
                <tr *ngFor="let general of general | async">
                    <td>{{general.legals_name}}</td>
                    <td>{{general.legals_address}}</td>
                    <td>{{general.legals_description}}</td>
                    <td>{{general.legals_rfc}}</td>
                    <td>{{general.legals_employer_registration}}</td>
                    <td>{{general.legals_tax_regime}}</td>
                    <td>{{general.legals_status}}</td>
                    <td>
                        <button  class="btn btn-outline-danger"  (click)="createPeriodsDialog.show()">Eliminar</button>
                        <button (click)="updateGeneral(general.legasl_id)" class="btn btn-outline-info" style="margin-left: 10px">Actualizar</button>
                        <button (click)="generalDetails(general.legasl_id)" class="btn btn-outline-info" style="margin-left: 10px">Detalles</button>



                        <app-ui-modal #createPeriodsDialog dialogClass="modal-dialog-centered">
                          <div class="app-modal-header">
                          <h5 class="modal-title">Eliminar Empresa</h5>
                          <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="createPeriodsDialog.hide()"><span aria-hidden="true">&times;</span></button>
                          </div>

                          <div class="app-modal-body">
                          <p>Esta seguro de eliminar la empresa?</p>
                          </div>
                          <div class="app-modal-footer">
                          <button type="button" class="btn btn-secondary"   style="margin-left: 10px"   data-dismiss="modal" (click)="createPeriodsDialog.hide()">Cerrar</button>
                          <button type="submit" class="btn btn-danger"  (click)="deleteGeneral(general.legasl_id)"   (click)="createPeriodsDialog.hide()"  style="margin-left: 10px">Eliminar</button>
                          </div>
                      </app-ui-modal>
                    </td>
                </tr>

            </tbody>
            -->
          </table>
        </div>
      </app-card>
    </div>
  </div>
