<div class="row">
    <div class="col-xl-12">
      <app-card cardTitle=" REPORTE CONTABLE " blockClass="table-border-style">  
        <button (click)="imprimirLista()"   class="btn btn-outline-primary" > generar pdf reporte contable</button>
      
      <div>
      
          <label for="name"> REPORTE CONTABLE</label>
          <br>
          <input type="date" placeholder="Search..." [(ngModel)]="busqueda.date" class="form-control" name="filterPost" 
          value="2020-01-01"
          min="2020-01-01" max="2030-12-31" >
          <button (click)="getsbusqueda()"   class="btn btn-outline-primary"style="margin-left: 10px">BUSCAR CORTE DE FECHA  </button>   
    <!--
<button [routerLink]="['/repo-cred-pay-cont-list/date']"  class="btn btn-outline-primary">Regresar</button><br>
       <button [routerLink]="['/create-payment-record']"  (click)="generalDetails(general.payment_record_payment_date)" class="btn btn-outline-primary"style="margin-left: 10px">BUSCAR CORTE DE FECHA VENCIMIENTO </button>
    -->
          </div>
          <br>
        
        <div id="frmEquipos" class="table-responsive">
          
          <table id="frmEquipos"  class="table">
            <thead>
            <tr>              
              <th>nombre acreedor</th>
              <th>Fecha de pago </th>
              <th>monto </th>
              <th>Método de pago</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let general of general | async   " >
                    <td>{{general.creditor_business_name}}</td>
                    <td>{{general.payment_record_payment_date}}</td>
                    <td>{{general.payment_record_amount}}</td>
                    <td>{{general.metodo_tipo}}</td>
                   
                   
                </tr>
            </tbody>
          </table>
        </div>
      </app-card>
    </div>
  </div>