<div class="auth-wrapper">
  <div class="auth-content text-center">
    <img src="assets/images/auth/auth-logo.png" alt="" class="img-fluid mb-4">
    <div class="card borderless">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <!--    <mat-error *ngIf="checarSiSonIguales()">Las contraseñas no coinciden</mat-error> -->
              <h4 class="mb-3 f-w-400">Cambiar contraseña</h4>
              <br />
              <br />
              <mat-form-field class="input-group mb-4">
                <input matInput type="password" [formControl]="form.controls['password']" placeholder="Contraseña" pattern="[A-Za-z0-9!?-]{8,12}" required [(ngModel)]="authentica.user_password"/>
              </mat-form-field >

              <br />
              <mat-form-field class="input-group mb-4">
                <input matInput type="password" [formControl]="form.controls['repeat_password']" placeholder="Confirmar Contraseña" pattern="[A-Za-z0-9!?-]{8,12}" [(ngModel)]="authentication.user_password"/>
              </mat-form-field>
              <br />
                <div class="checkbox checkbox-primary d-inline">
                  <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="">
                  <label for="checkbox-fill-a1" class="cr">Recordar</label>
                </div>
                <button class="btn btn-block btn-login mb-4" type="submit"  [disabled]="form.invalid">Guardar</button>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>