<div class="auth-wrapper">
  <div class="auth-content text-center">
    <img src="assets/images/auth/auth-logo.png" alt="" class="img-fluid mb-4">
    <div class="card borderless">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <form [formGroup]="form">
          <!--    <mat-error *ngIf="checarSiSonIguales()">Las contraseñas no coinciden</mat-error> -->
              <h4 class="mb-3 f-w-400">Cambiar contraseña</h4>
              <mat-form-field class="input-group mb-3">
                <input matInput type="email" placeholder="correo" required [(ngModel)]="authentication.user_email"/>
              </mat-form-field>
              <br />
              <br />
              <mat-form-field class="input-group mb-4">
                <input matInput type="password" formControl="form.controls['password']" placeholder="Contraseña" required [(ngModel)]="authentica.user_password"/>
              </mat-form-field >
<!-- Repetir Contraseña -->
              <br />
              <mat-form-field class="input-group mb-4">
                <input matInput type="password" formControl="form.controls['repeat_password']" placeholder="Confirmar Contraseña" [(ngModel)]="authentication.user_password"/>
              </mat-form-field>
              <br />
                <div class="checkbox checkbox-primary d-inline">
                  <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="">
                  <label for="checkbox-fill-a1" class="cr"> Save credentials</label>
                </div>
                <button class="btn btn-block btn-login mb-4" type="submit"  [disabled]="form.invalid">Signin</button>
                <p class="mb-0 text-muted">Don’t have an account? <a [routerLink]="['/auth/Signin']" class="f-w-400">Signup</a></p>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>