<div class="row justify-content-center">
    <div class="col-sm-12">
      <div class="col-md-6">
        <app-card cardTitle="Crear factura" [options]="false">
          <form (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="name">Folio de Factura</label>
              <input type="text" class="form-control" id="billtopay_invoice_folio"  [(ngModel)]="employee.billtopay_invoice_folio" name="billtopay_invoice_folio" required> 
            </div>      
        

            <div class="form-group">
              <label for="exampleFormControlSelect1">id orden de compra</label>
              <select  class="custom-select"  id="creditor_id" required [(ngModel)]="employee.creditor_id" name="creditor_id" >
              <option *ngFor="let creditors of purcharse | async" value="{{creditors.purcharse_id}}">{{creditors.purcharse_id}}{{creditors.purcharse_name}}</option>
              </select>
          </div>  

            <div class="form-group">
              <label for="name">Fecha de Factura</label>
              <input type="date" id="start" name="trip-start"
              value="2020-01-01"
              min="2020-01-01" max="2030-12-31" 
               class="form-control" id="billtopay_invoice_date"  [(ngModel)]="employee.billtopay_invoice_date" name="billtopay_invoice_date" required>
            </div>  
           
            <div class="form-group">
                <label for="name">Monto</label>
                <input type="text" class="form-control" id="billtopay_amount"  [(ngModel)]="employee.billtopay_amount" name="billtopay_amount" required>
            </div>
            <div class="form-group">
              <label for="name">Descripción del bien o servicio adquirido</label>
              <input type="text" class="form-control" id="billtopay_service_description"  [(ngModel)]="employee.billtopay_service_description" name="billtopay_service_description" required>
          </div>
         

          <div class="custom-file">
            <input type="file" alife-file-to-base  (change)="handleUpload($event)" class="custom-file-input"  id="employee.bilitoplay_arch"   name="bilitoplay_arch">
            <label class="custom-file-label" for="validatedCustomFile">Elegir Archivo ...</label>
            <div class="invalid-feedback">invalid custom file </div>
          </div>
         

            <div class="form-group">
                <label for="name">Estatus factura</label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input"  id="billtopay_status"  [(ngModel)]="employee.billtopay_status"     name="billtopay_status"   style="margin-left: 10px">
                    <label class="custom-control-label" for="billtopay_status">Active</label>
                 </div>
            </div>
            <br><form>
            <h2><label for="name">ACREDOR</label></h2>

            
            <div class="form-group">
              <label for="exampleFormControlSelect1">Nombre del accredor</label>
              <select   class="custom-select"  id="creditor_business_name" required [(ngModel)]="employee.creditor_business_name" name="creditor_business_name" >
              <option *ngFor="let creditors of credito | async" value="{{creditors.creditor_business_name}}"> {{creditors.creditor_business_name}}</option>
              
            </select>
            <button (click)="jav($event)" class="btn btn-outline-secondary" style="margin-left: 10px">BUSCAR nombre  </button>
            
          </div>  
            
            <div class="form-group">
              <label for="name">Dirección</label>
              <input type=»text»  class="form-control" id="creditor_addres" [(ngModel)]="employee.creditor_addres" name="creditor_addres" required>
            </div>  
          
          <div class="form-group">
            <label for="name">Cuenta accredor</label>
            <input type=»text» class="form-control" id="creditor_cuenta"  [(ngModel)]="employee.creditor_cuenta" name="creditor_cuenta" required>
          </div>
        
            <div class="form-group">
              <label for="name">telefono</label>
              <input type=»text» class="form-control" id="creditor_tel"  [(ngModel)]="employee.creditor_tel" name="creditor_tel" required>
            </div>
            <div class="form-group">
              <label for="name">RFC</label>
              <input type=»text»  class="form-control" id="creditor_rfc"  [(ngModel)]="employee.creditor_rfc" name="creditor_rfc" required>
            </div>
            <div class="form-group">
              <label for="name">Giro</label>
              <input type=»text»  class="form-control" id="creditor_turn"  [(ngModel)]="employee.creditor_turn" name="creditor_turn" required>
            </div>
          </form>
            <br>
            <form >
            <h2><label for="name">CLIENTE</label></h2>

            <div class="form-group">
              <label for="exampleFormControlSelect1">Nombre del cliente </label>
              <select   class="custom-select"  id="cliente_name_cliente" required [(ngModel)]="employee.cliente_name_cliente" name="cliente_name_cliente" >
              <option *ngFor="let creditors of client | async" value="{{creditors.cliente_name_cliente}}"> {{creditors.cliente_name_cliente}}</option>
            </select>
            <button (click)="javq($event)" class="btn btn-outline-secondary" style="margin-left: 10px">BUSCAR nombre  </button>  
          </div> 
           
          <div class="form-group">
            <label for="name">cuenta cliente </label>
            <input type=»text»  class="form-control" id="cliente_cuenta"  [(ngModel)]="employee.cliente_cuenta" name="cliente_cuenta" required>
          </div>
            <div class="form-group">
              <label for="name">direccion</label>
              <input type=»text» class="form-control" id="cliente_direccion"  [(ngModel)]="employee.cliente_direccion" name="cliente_direccion" required>
            </div>
            <div class="form-group">
                <label for="name">RFC</label>
                <input type=»text»  class="form-control" id="cliente_rfc"  [(ngModel)]="employee.cliente_rfc" name="cliente_rfc" required>
              </div>
              <div class="form-group">
                <label for="name">Telefono</label>
                <input type=»text» class="form-control" id="cliente_tel"  [(ngModel)]="employee.cliente_tel" name="cliente_tel" required>
              </div>
              
            </form> 

            <app-alert type="danger" [hidden]="alertDisable">{{alertMessage}}</app-alert> 
            <app-alert type="success" [hidden]="alertDisables">{{alertMessages}}</app-alert> 
            <app-ui-modal #createPeriodsDialog dialogClass="modal-dialog-centered">
              <div class="app-modal-header">
              <h5 class="modal-title">Crear factura</h5>
              <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="createPeriodsDialog.hide()"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="app-modal-body">
              <p>Esta seguro de insertar factura?</p>
              </div>
              <div class="app-modal-footer">
              <button type="button" class="btn btn-secondary"   style="margin-left: 10px"   data-dismiss="modal" (click)="createPeriodsDialog.hide()">Cerrar</button>
              <button type="submit" class="btn btn-success" (click)="createPeriodsDialog.hide()"  style="margin-left: 10px">Guardar</button>
              </div>
          </app-ui-modal>
            <button type="button"  class="btn btn-outline-primary" data-toggle="modal" (click)="createPeriodsDialog.show()">Guardar</button>          
            <button [routerLink]="['/billtopay-list']" class="btn btn-outline-secondary" style="margin-left: 10px">Regresar</button>
          </form>
        </app-card>
      </div>
    </div>