<p>create-accounts works!</p>
<div class="row justify-content-center">
    <div class="col-sm-12">
      <div class="col-md-6">
        <app-card cardTitle="Crear cuenta" [options]="false">
          <form (ngSubmit)="onSubmit()" >
                
            

            
            <label for="name">codigo</label>
            <div class="input-group mb-3">
              <select class="custom-select" id="accounting_accounts_currency_code" class="form-control" id="accounting_accounts_currency_code"  [(ngModel)]="employee.accounting_accounts_currency_code" name="accounting_accounts_currency_code" required>
                <option selected></option>
                <option value="MX">MX</option>
              </select>
            </div>
             

            <div class="form-group">
              <label for="exampleFormControlSelect1"> periodos id</label>
              <select  class="custom-select"  id="journals_periods_id" required [(ngModel)]="employee.accounting_accounts_period_id" name="accounting_accounts_period_id" >
              <option *ngFor="let creditors of periods | async" value="{{creditors.periodsId}}">{{creditors.periodsName}}{{creditors.periodsYear}}</option>
              </select>
          </div>

            <div class="form-group">
                <label for="name">Año</label>
                <input width="1" type="number" min="2020" max="2023"  class="form-control" id="accounting_accounts_fiscal_year"  [(ngModel)]="employee.accounting_accounts_fiscal_year" name="accounting_accounts_fiscal_year" required>
            </div>
         
            <div class="form-group">
                <label for="name">Estatus</label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input"  id="accounting_accounts_status"  [(ngModel)]="employee.accounting_accounts_status"     name="accounting_accounts_status"   style="margin-left: 10px">
                    <label class="custom-control-label" for="accounting_accounts_status">Active</label>
                 </div>
            </div>
            <app-alert type="danger" [hidden]="alertDisable">{{alertMessage}}</app-alert> 
            <app-alert type="success" [hidden]="alertDisables">{{alertMessages}}</app-alert> 
            <app-ui-modal #createPeriodsDialog dialogClass="modal-dialog-centered">
              <div class="app-modal-header">
              <h5 class="modal-title">Crear cuenta</h5>
              <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="createPeriodsDialog.hide()"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="app-modal-body">
              <p>Esta seguro de insertar la cuenta</p>
              </div>
              <div class="app-modal-footer">
              <button type="button" class="btn btn-secondary"   style="margin-left: 10px"   data-dismiss="modal" (click)="createPeriodsDialog.hide()">Cerrar</button>
              <button type="submit" class="btn btn-success" (click)="createPeriodsDialog.hide()"  style="margin-left: 10px">Guardar</button>
              </div>
          </app-ui-modal>
            <button type="button"  class="btn btn-outline-primary" data-toggle="modal" (click)="createPeriodsDialog.show()">Guardar</button>          
            <button [routerLink]="['/accounts-list']" class="btn btn-outline-secondary" style="margin-left: 10px">Regresar</button>
          </form>
        </app-card>
      </div>
    </div>