<div class="row justify-content-center">
    <div class="col-sm-12">
      <app-card cardTitle="Empresa Detalle" [options]="false">
        <div *ngIf="employee">
          <app-alert type="danger" [hidden]="alertDisable">{{alertMessage}}</app-alert> 
          

          <div class="form-group">
            <label for="name">Categoria Nombre:</label>
            {{employee.sub_categories_name}}
          </div> 


          <div class="form-group">
            <label for="exampleFormControlSelect1">Empresa</label>
            <select  disabled class="custom-select"  id="sub_categories_id" required [(ngModel)]="employee.sub_categories_id" name="sub_categories_id" >
            <option *ngFor="let address of addresses | async" value="{{address.sub_categories_id}}">{{address.legals_name}}</option>
            </select>
        </div> 
          <div class="form-group">
            <label><b>Estatus:  </b></label>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input"  id="sub_categories_status"       name="sub_categories_status"   style="margin-left: 10px" [checked]="employee.sub_categories_status == 'true'">
            <label class="custom-control-label" for="sub_categories_status">Active</label>
         </div>
        </div>
        </div>
        <br>
        <button [routerLink]="['/categories-list']" class="btn btn-outline-primary">Regresar</button><br>
      </app-card>
      </div>
  </div>