<p>create-client works!</p>
  
<div class="row justify-content-center">
    <div class="col-sm-12">
      <div class="col-md-6">
        <app-card cardTitle="Crear cliente" [options]="false">
          <form (ngSubmit)="onSubmit()" >
            <div class="form-group">
              <label for="name">Nombre </label>
              <input type="text" class="form-control" id="cliente_name_cliente"  [(ngModel)]="employee.cliente_name_cliente" name="cliente_name_cliente" required> 
            </div>      
            <div class="form-group">
              <label for="name">cuenta</label>
              <input type="text" class="form-control" id="cliente_cuenta"  [(ngModel)]="employee.cliente_cuenta" name="cliente_cuenta" required>
            </div>  
            <div class="form-group">
              <label for="name">direccion</label>
              <input type="text" class="form-control" id="cliente_direccion"  [(ngModel)]="employee.cliente_direccion" name="cliente_direccion" required>
            </div>
            <div class="form-group">
                <label for="name">RFC</label>
                <input type="text" class="form-control" id="cliente_rfc"  [(ngModel)]="employee.cliente_rfc" name="cliente_rfc" required>
              </div>
              <div class="form-group">
                <label for="name">Telefono</label>
                <input type="text" class="form-control" id="cliente_tel"  [(ngModel)]="employee.cliente_tel" name="cliente_tel" required>
              </div>
              
          
              
            <div class="form-group">
                <label for="name">Estatus</label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input"  id="cliente_status"  [(ngModel)]="employee.cliente_status"     name="cliente_status"   style="margin-left: 10px">
                    <label class="custom-control-label" for="cliente_status">Active</label>
                 </div>
            </div>
            <app-alert type="danger" [hidden]="alertDisable">{{alertMessage}}</app-alert> 
            <app-alert type="success" [hidden]="alertDisables">{{alertMessages}}</app-alert> 
            <app-ui-modal #createPeriodsDialog dialogClass="modal-dialog-centered">
              <div class="app-modal-header">
              <h5 class="modal-title">Crear cliente</h5>
              <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="createPeriodsDialog.hide()"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="app-modal-body">
              <p>Esta seguro de insertar </p>
              </div>
              <div class="app-modal-footer">
              <button type="button" class="btn btn-secondary"   style="margin-left: 10px"   data-dismiss="modal" (click)="createPeriodsDialog.hide()">Cerrar</button>
              <button type="submit" class="btn btn-success" (click)="createPeriodsDialog.hide()"  style="margin-left: 10px">Guardar</button>
              </div>
          </app-ui-modal>
            <button type="button"  class="btn btn-outline-primary" data-toggle="modal" (click)="createPeriodsDialog.show()">Guardar</button>          
            <button [routerLink]="['/client-list']" class="btn btn-outline-secondary" style="margin-left: 10px">Regresar</button>
          </form>
        </app-card>
      </div>
    </div>