<p>journals-list works!</p>
<div class="row">
    <div class="col-xl-12">
      <app-card cardTitle="contabilidad cuentas contables" blockClass="table-border-style">      
        <div class="app-modal-footer">
        <button style="margin: 10px" [routerLink]="['/create-journals']"   class="btn btn-outline-primary" >Agregar poliza</button>
        <button [routerLink]="['/journalslin-list']"   class="btn btn-outline-primary" >Contabilizar
       </button>
      </div>
        <div class="table-responsive">
          <app-alert type="danger" [hidden]="alertDisable">{{alertMessage}}</app-alert> 
          <app-alert type="success" [hidden]="alertDisables">{{alertMessages}}</app-alert> 
          <table class="table">
            <thead>
            <tr>     
              <th> id poliza periodo</th>         
              <th>fecha </th>
              <th>descripcion </th>
              <th>numero periodo</th>
              <th>código de moneda</th>
              
              <th>Estatus </th>
              <th>#</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let general of general | async">
                    
                    <td>{{general.journals_periods_id}}</td>
                    <td>{{general.journals_date}}</td>
                    <td>{{general.journals_description}}</td>
                    <td>{{general.journals_number}}</td>
                    <td>{{general.journals_currency_code}}</td>
                   
                   

                    
                    <td>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" [checked]="general.journals_status == 'true'">
                          <label class="custom-control-label" for="journals_status">Active</label>
                       </div>
                      </td>

                    <td>
                        <button  class="btn btn-outline-danger"  (click)="createPeriodsDialog.show()">Eliminar</button>
                        <button (click)="updateGeneral(general.journals_id)" class="btn btn-outline-info" style="margin-left: 10px">Actualizar</button>
                        <button (click)="generalDetails(general.journals_id)" class="btn btn-outline-info" style="margin-left: 10px">Detalles</button>    
                        
                        
                        
                        <app-ui-modal #createPeriodsDialog dialogClass="modal-dialog-centered">
                          <div class="app-modal-header">
                          <h5 class="modal-title">Eliminar cuentas</h5>
                          <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="createPeriodsDialog.hide()"><span aria-hidden="true">&times;</span></button>
                          </div>

                          <div class="app-modal-body">
                          <p>Esta seguro de eliminar ?</p>
                          </div>
                          <div class="app-modal-footer">
                          <button type="button" class="btn btn-secondary"   style="margin-left: 10px"   data-dismiss="modal" (click)="createPeriodsDialog.hide()">Cerrar</button>
                          <button type="submit" class="btn btn-danger"  (click)="deleteGeneral(general.journals_id)"   (click)="createPeriodsDialog.hide()"  style="margin-left: 10px">Eliminar</button>
                          </div>
                      </app-ui-modal>
                    </td>          
                </tr>
            </tbody>
          </table>
        </div>
      </app-card>
    </div>
  </div>