<div class="row justify-content-center">
    <div class="col-sm-12">
      <div class="col-md-6">
        <app-card cardTitle="Actualizar Residente" [options]="false">
          <form (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="name">Nombre inquilino</label>
              <input type="text" class="form-control" id="tenants_name"  [(ngModel)]="tenant.tenants_name" name="tenants_name" required>
            </div>      
            <div class="form-group">
                <label for="name">Apellido paterno</label>
                <input type="text" class="form-control" id="tenants_father_surname"  [(ngModel)]="tenant.tenants_father_surname" name="tenants_father_surname" required>
              </div>   
              <div class="form-group">
                <label for="name">Apellido materno</label>
                <input type="text" class="form-control" id="tenants_mother_surname"  [(ngModel)]="tenant.tenants_mother_surname" name="tenants_mother_surname" required>
              </div>   
              <div class="form-group">
                <label for="name">Marca de auto</label>
                <input type="text" class="form-control" id="tenants_car_brand"  [(ngModel)]="tenant.tenants_car_brand" name="tenants_car_brand" required>
              </div>   
              <div class="form-group">
                <label for="name">Placa de auto</label>
                <input type="text" class="form-control" id="tenants_car_plate"  [(ngModel)]="tenant.tenants_car_plate" name="tenants_car_plate" required>
              </div>   
              <div class="form-group">
                <label for="name">Ubicacion residencia</label>
                <input type="text" class="form-control" id="tenants_location"  [(ngModel)]="tenant.tenants_location" name="tenants_location" required>
              </div>   
              <div class="form-group">
                <label for="name">Numero de residencia</label>
                <input type="number" class="form-control" id="tenants_residential_number"  [(ngModel)]="tenant.tenants_residential_number" name="tenants_residential_number" required>
              </div>   
              <div class="form-group">
                <label for="name">Unidad de residencia</label>
                <input type="text" class="form-control" id="tenants_fractionation_unit"  [(ngModel)]="tenant.tenants_fractionation_unit" name="tenants_fractionation_unit" required>
              </div>  
              <div class="form-group">
                <label for="name">Tipo de inquilino</label>
                <input type="text" class="form-control" id="tenants_type"  [(ngModel)]="tenant.tenants_type" name="tenants_type" required>
              </div>  
              <div class="form-group">
                <label for="name">Telefono</label>
                <input type="number" class="form-control" id="tenants_telephone" required [(ngModel)]="tenant.tenants_telephone" formControlName="tenants_telephone" name="tenants_telephone" oninput="if(value.length>10)value=value.slice(0,10)">
              </div>
              <div class="form-group">
                <label for="name">Deposito de la residencia</label>
                <input type="number" class="form-control" id="tenants_deposit" required [(ngModel)]="tenant.tenants_deposit" formControlName="tenants_deposit" name="tenants_deposit">
              </div>
              <div class="form-group">
                <label for="name">Fecha inicio de contrato</label>
                <input type="date" class="form-control" id="tenants_start_date" required [(ngModel)]="tenant.tenants_start_date" formControlName="tenants_start_date" name="tenants_start_date">
              </div>
              <div class="form-group">
                <label for="name">Fecha final de contrato</label>
                <input type="date" class="form-control" id="tenants_end_date" required [(ngModel)]="tenant.tenants_end_date" formControlName="tenants_end_date" name="tenants_end_date">
              </div>
            <div class="custom-file">
              <input type="file" alife-file-to-base  (change)="handleUpload($event)" class="custom-file-input"  id="tenant.tenants_agreement"   name="tenants_agreement" required>
              <label class="custom-file-label" for="validatedCustomFile">Elegir contrato ...</label>
              <div class="invalid-feedback">invalid custom file </div>
            </div>  
            <div class="form-group">
                <label for="name">Estatus</label> 
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input"  id="tenants_status"  [(ngModel)]="tenant.tenants_status"     name="tenants_status"   style="margin-left: 10px">
                    <label class="custom-control-label" for="tenants_status">Active</label>
                 </div>
            </div>
            <button type="submit" class="btn btn-success">Guardar</button>          
            <button [routerLink]="['/tenants-list']" class="btn btn-danger" style="margin-left: 10px">Cancelar</button>
          </form>
        </app-card>
      </div>
    </div>