<div class="row">
    <div class="col-xl-12">
      <app-card cardTitle="Puestos" blockClass="table-border-style">      
        <button [routerLink]="['/create-workplaces']" class="btn btn-outline-primary">Agregar puesto</button><br>
        <br>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>              
              <th>Nombre Puesto</th>
              <th>Estatus </th>
              <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let workplace of workplaces | async">
                    <td>{{workplace.workplaces_name}}</td>
                    <td>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" [checked]="workplace.workplaces_status == 'true'">
                          <label class="custom-control-label" for="workplaces_status">Active</label>
                       </div>
                      </td>
  
                      <td>                 
                        <button (click)="deleteWorkplace(workplace.workplaces_id)" class="btn btn-outline-danger">Eliminar</button>
                        <button (click)="updateWorkplace(workplace.workplaces_id)" class="btn btn-outline-info" style="margin-left: 10px">Actualizar</button>
                        <button (click)="workplaceDetails(workplace.workplaces_id)" class="btn btn-outline-primary" style="margin-left: 10px">Detalles</button>
                    </td>
                </tr>
            </tbody>
          </table>
        </div>
      </app-card>
    </div>
  </div>