<div class="row justify-content-center">
  <div class="col-sm-12">
    <div class="col-md-6">
      <app-card cardTitle="Crear Banco" [options]="false">
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name">Nombre del Banco</label>
            <input type="text" class="form-control" id="manage_banks_bank_name"  [(ngModel)]="employee.manage_banks_bank_name" name="manage_banks_bank_name" required> 
          </div>      
          <div class="form-group">
            <label for="name">Codigo del Banco</label>
            <input type="number" class="form-control" id="manage_banks_bank_code"  [(ngModel)]="employee.manage_banks_bank_code" name="manage_banks_bank_code" required>
          </div>  
          <div class="form-group">
            <label for="name">Pais</label>
            <input type="text" class="form-control" id="manage_banks_country"  [(ngModel)]="employee.manage_banks_country" name="manage_banks_country" required>
          </div>
          <div class="form-group">
            <label for="name">Nombre Alternativo del Banco</label>
            <input type="text" class="form-control" id="manage_banks_alternative_bank_name"  [(ngModel)]="employee.manage_banks_alternative_bank_name" name="manage_banks_alternative_bank_name" required>
          </div>
          <div class="form-group">
              <label for="name">Estatus</label>
              <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input"  id="manage_banks_status"  [(ngModel)]="employee.manage_banks_status"     name="manage_banks_status"   style="margin-left: 10px">
                  <label class="custom-control-label" for="manage_banks_status">Active</label>
               </div>
          </div>
          <button type="submit" class="btn btn-success">Guardar</button>          
          <button [routerLink]="['/manage-banks-list']" class="btn btn-danger" style="margin-left: 10px">Cancelar</button>
        </form>
      </app-card>
    </div>
  </div>