<div class="row justify-content-center">
  <div class="col-sm-12">
    <app-card cardTitle="Detalles de Cuentas de Deposito" [options]="false">
      <div *ngIf="employee">
        <div>
          <label><b>Nombre de Cuenta de Deposito: </b></label> {{employee.deposit_account_name_deposit_account}}
        </div>
        <div>
          <label><b>Descripcion de la Cuenta: </b></label> {{employee.deposit_account_description}}
        </div>
        <div>
          <label><b>Banco:</b></label> {{employee.deposit_account_bank}}
        </div>
        <div>
          <label><b>Sucursal: </b></label> {{employee.deposit_account_branch_office}}
        </div>
        <div>
          <label><b>Cuenta:</b></label> {{employee.deposit_account_bill}}
        </div>
        <div>
          <label><b>Tarjeta: </b></label> {{employee.deposit_account_card}}
        </div>
        <div>
          <label><b>Clave:</b></label> {{employee.deposit_account_key}}
        </div>
        <div>
          <label><b>Condominio: </b></label> {{employee.condominums_id}}
        </div>
        <div>
          <label for="name">Estatus</label>
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input"  id="deposit_account_status"  name="deposit_account_status"   style="margin-left: 10px" [checked]="employee.deposit_account_status == 'true'">
          <label class="custom-control-label" for="deposit_account_status">Active</label>
       </div>
      </div>
      </div>
      <br>
      <button [routerLink]="['/deposit-account-list']" class="btn btn-primary">Regresar a Lista de Cuentas Bancarias</button><br>
    </app-card>
    </div>
</div>
