<div class="row justify-content-center">
    <div class="col-sm-12">
      <div class="col-md-6">
        <app-card cardTitle="Actualizar transacciones" [options]="false">
          <form (ngSubmit)="onSubmit()">  
              <div class="form-group">
                <label for="exampleFormControlSelect1">Empresa</label>
                <select disabled class="custom-select" id="module_id" required [(ngModel)]="employee.module_id" name="module_id"  >
                <option *ngFor="let address of addresses | async" value="{{address.module_id}}">{{address.module_description}}</option>
                </select>
            </div>            
            <div class="form-group">
                <label for="name">Consultar</label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input"  id="transaction_consult"  [(ngModel)]="employee.transaction_consult"    [checked]="employee.transaction_consult == 'Activo'" name="transaction_consult"   style="margin-left: 10px">
                    <label class="custom-control-label" for="transaction_consult">{{employee.transaction_consult}}</label>
                 </div>
            </div>

            <div class="form-group">
                <label for="name">Agregar</label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input"  id="transaction_insert"  [(ngModel)]="employee.transaction_insert"  [checked]="employee.transaction_insert == 'Activo'"    name="transaction_insert"   style="margin-left: 10px">
                    <label class="custom-control-label" for="transaction_insert">{{employee.transaction_insert}}</label>
                 </div>
            </div>
            <div class="form-group">
                <label for="name">Actualizar</label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input"  id="transaction_update"  [(ngModel)]="employee.transaction_update" [checked]="employee.transaction_update == 'Activo'"    name="transaction_update"   style="margin-left: 10px">
                    <label class="custom-control-label" for="transaction_update">{{employee.transaction_update}}</label>
                 </div>
            </div>
            <div class="form-group">
                <label for="name">Eliminar</label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input"  id="transaction_delete"  [(ngModel)]="employee.transaction_delete"  [checked]="employee.transaction_delete == 'Activo'"   name="transaction_delete"   style="margin-left: 10px">
                    <label class="custom-control-label" for="transaction_delete">{{employee.transaction_delete}}</label>
                 </div>
            </div>
            <app-alert type="danger" [hidden]="alertDisable">{{alertMessage}}</app-alert> 
            <app-alert type="success" [hidden]="alertDisables">{{alertMessages}}</app-alert> 
          <button type="submit"  class="btn btn-outline-primary">Guardar</button>                   
          <button (click)="gotoList(employee.permissions_id)" class="btn btn-outline-info" style="margin-left: 10px">Regresar</button>    
          </form>
        </app-card>
      </div>
    </div>