<div class="row justify-content-center">
    <div class="col-sm-12">
      <app-card cardTitle="FACTURA Detalle" [options]="false">
        <div *ngIf="employee">




          <div>
            <label><b>Folio: </b></label> {{employee.billtopay_id}}
          </div>
          
          <div>
            <label><b>fecha: </b></label> {{employee.billtopay_invoice_date}}
          </div>
          
         






          
          
          <div>
            <label><b>Monto: </b></label> {{employee.billtopay_amount}}
          </div>
          



          <app-alert type="danger" [hidden]="alertDisable">{{alertMessage}}</app-alert> 
          <div>
            <label><b>Folio de Factura : </b></label> {{employee.billtopay_invoice_folio}}
          </div>

           


          

          <div>
            <label><b>Fecha de Factura: </b></label> {{employee.billtopay_invoice_date}}
          </div>
       
          <div>
            <button (click)="gocv()" class="btn btn-info">Descargar factura</button>
          </div>
   <br>
          <div>
            <button (click)="dsd()" class="btn btn-info">Descargar XML</button>
          </div>


        
        <div>
          <label (click)="dsd()" ><b><u>Descargar XML</u></b></label>
         </div>>


          <div>
            <label><b>Estatus:  </b></label>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input"  id="billtopay_status"  name="billtopay_status"   style="margin-left: 10px" [checked]="employee.billtopay_status == 'true'">
            <label class="custom-control-label" for="billtopay_status">Active</label>
         </div>
        </div>
        </div>
        <br>
        <button [routerLink]="['/facpv-list']" class="btn btn-outline-primary">Regresar</button><br>
      </app-card>
      </div>
  </div>