<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <app-card cardTitle="Detalles Periodo" [options]="false">
        <div *ngIf="periods">
            
          <div>    
            <label><b>Numero periodo: </b></label> {{periods.periodsNumber}}
          </div>    
          <div>    
            <label><b>Nombre : </b></label> {{periods.periodsName}}
          </div>    
          <div>    
            <label><b>Año: </b></label> {{periods.periodsYear}}
          </div>    
          <div>    
            <label><b>fecha inicio del periodo : </b></label> {{periods.periodsStartDate}}
          </div>    
          <div>    
            <label><b>fecha fin de periodo: </b></label> {{periods.periodsEndDate}}
          </div>    
      
        </div>
        <br>
        <button [routerLink]="['/periods-list']" class="btn btn-primary">Regresar List</button><br>
      </app-card>
      </div>
    </div>
  </div>