<div class="row justify-content-center">
  <div class="col-sm-12">
    <div class="col-md-6">
      <app-card cardTitle="Agregar empleado" [options]="false">
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name">Nombre(s)</label>
            <input type="text" class="form-control" id="employees_name" required [(ngModel)]="employee.employees_name" name="employees_name">
          </div>      
          <div class="form-group">
            <label for="name">Apellido Paterno</label>
            <input type="text" class="form-control" id="employees_father_surname" required [(ngModel)]="employee.employees_father_surname" name="employees_father_surname">
          </div>  
          <div class="form-group">
            <label for="name">Apellido Materno</label>
            <input type="text" class="form-control" id="employees_mother_surname" required [(ngModel)]="employee.employees_mother_surname" name="employees_mother_surname">
          </div>      
          <div class="form-group">
            <label for="name">Direccion</label>
            <input type="text" class="form-control" id="employees_address" required [(ngModel)]="employee.employees_address" name="employees_address">
          </div>    
          <div class="form-group">
            <label for="name">CV empleado</label>
            <input type="text" class="form-control" id="employees_cv" required [(ngModel)]="employee.employees_cv" name="employees_cv">
          </div>    
          <div class="form-group">
            <label for="name">Contrato de empleado</label>
            <input type="text" class="form-control" id="employees_contract" required [(ngModel)]="employee.employees_contract" name="employees_mother_surname">
          </div>    
          <div class="form-group">
            <label for="name">Estatus</label>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input"  id="employees_status"  [(ngModel)]="employee.employees_status"     name="employees_status"   style="margin-left: 10px">
                <label class="custom-control-label" for="employees_status">Active</label>
             </div>
        </div>
          <div class="form-group">
            <label for="name">Numero de seguridad social</label>
            <input type="text" class="form-control" id="employees_nss" required [(ngModel)]="employee.employees_nss" name="employees_nss">
          </div>    
          <div class="form-group">
            <label for="name">RFC</label>
            <input type="text" class="form-control" id="employees_rfc" required [(ngModel)]="employee.employees_rfc" name="employees_rfc">
          </div>    
          <div class="form-group">
            <label for="name">CURP</label>
            <input type="text" class="form-control" id="employees_curp" required [(ngModel)]="employee.employees_curp" name="employees_curp">
          </div>    
          <div class="form-group">
            <label for="name">CURP</label>
            <input type="text" class="form-control" id="employees_curp" required [(ngModel)]="employee.employees_curp" name="employees_curp">
          </div>    
          <div class="form-group">
            <label for="name">Sindicalizado</label>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input"  id="employees_sindicalizado"  [(ngModel)]="employee.employees_sindicalizado"     name="employees_sindicalizado"   style="margin-left: 10px">
                <label class="custom-control-label" for="employees_sindicalizado">Si</label>
             </div>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Condominio</label>
          <select  class="form-control" id="condominums_id" required [(ngModel)]="employee.condominums_id" name="condominums_id" >
            <option *ngFor="let employee of employees | async" value="{{employee.condominums_id}}">{{employee.condominums_description}}</option>
          </select>
      </div>                
      <div class="form-group">
        <label for="exampleFormControlSelect1">Departamento</label>
        <select  class="form-control" id="condominums_id" required [(ngModel)]="employee.condominums_id" name="departments_id" >
          <option *ngFor="let employee of employees | async" value="{{employee.departments_id}}">{{employee.departments_name}}</option>
        </select>
    </div>                
    <div class="form-group">
      <label for="exampleFormControlSelect1">Puesto</label>
      <select  class="form-control" id="workplaces_id" required [(ngModel)]="employee.workplaces_id" name="workplaces_id" >
        <option *ngFor="let employee of employees | async" value="{{employee.workplaces_id}}">{{employee.workplaces_name}}</option>
      </select>
  </div>                

          <button type="submit" class="btn btn-success">Submit</button>          
          <button [routerLink]="['/employee-list']" class="btn btn-danger" style="margin-left: 10px">Cancel</button>
        </form>
      </app-card>
    </div>
  </div>