<div class="row justify-content-center">
    <div class="col-sm-12">
      <div class="col-md-6">
        <app-card cardTitle="Agregar Rol" [options]="false">
          <form (ngSubmit)="onSubmit()" >
            <div class="form-group">
              <label for="name">*Nombre del rol: </label>
              <input type="text" class="form-control" id="rol_description"  [(ngModel)]="employee.rol_description" name="rol_description" required> 
            </div>          
            <div class="form-group">
                <label for="name">Estatus:</label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input"  id="rol_status"  [(ngModel)]="employee.rol_status"     name="rol_status"   style="margin-left: 10px">
                    <label class="custom-control-label" for="rol_status">Active</label>
                 </div>
            </div>
            <app-alert type="danger" [hidden]="alertDisable">{{alertMessage}}</app-alert> 
            <app-alert type="success" [hidden]="alertDisables">{{alertMessages}}</app-alert> 
         
            <button type="submit"  class="btn btn-outline-primary" >Guardar</button>          
            <button [routerLink]="['/rols-list']" class="btn btn-outline-secondary" style="margin-left: 10px">Regresar</button>
          </form>
        </app-card>
      </div>
    </div>