<div class="row justify-content-center">
    <div class="col-sm-12">
      <app-card cardTitle="Detalles de aviso" [options]="false">
        <app-alert type="danger" [hidden]="alertDisable">{{alertMessage}}</app-alert> 
        <button class="btn btn-outline-primary"  (click)="enviarAviso()">Enviar</button>    
        <div *ngIf="release">
          <div>
            <label><b>Fecha: </b></label> <br> {{release.releases_date| date:'medium' }}
          </div>         
          <div>
            <label><b>Asunto</b></label> <br> {{release.releases_subject}}
          </div>
          <div>
            <label><b>Adjunto: </b></label><br><img [src]="release.releases_attached" width="50" height="50">
           </div>
          <div>
            <label><b>Estatus:  </b></label>
            <div class="custom-control custom-switch">
                <input type="checkbox" disabled class="custom-control-input"  id="releases_status"       name="releases_status"   style="margin-left: 10px" [checked]="release.releases_status == 'Activo'">
                <label class="custom-control-label" for="releases_status">{{release.releases_status}}</label>
             </div>
              </div>
              <button (click)="createComments(release.releases_id)" class="btn btn-info">Comentar</button>   
        </div>

        <div class="row">
          <div class="col-xl-12">
              <br>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                  <tr>
                    <th>Comentario</th>
                  </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let comment of comments | async">
                          <td>{{comment.releases_comments}}</td>
                          <td>              
                          </td>
                      </tr>
                  </tbody>
                </table>
              </div>
          </div>
        </div>
      
      
        <button [routerLink]="['/list-releases']" class="btn btn-success">Regresar a avisos</button><br>
      </app-card>
      </div>
  </div>