<div class="row justify-content-center">
    <div class="col-sm-12">
      <div class="col-md-6">
        <app-card cardTitle="Crear Empresa" [options]="false">
          <form (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="name">Nombre Categorias</label>
              <input type="text" class="form-control" id="categories_name"  [(ngModel)]="employee.categories_name" name="categories_name" required> 
            </div>      
            <div class="form-group">
                <label for="name">Estatus</label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input"  id="categories_status"  [(ngModel)]="employee.categories_status"     name="categories_status"   style="margin-left: 10px">
                    <label class="custom-control-label" for="categories_status">Active</label>
                 </div>
            </div>
            <button type="submit" class="btn btn-success">Guardar</button>          
            <button [routerLink]="['/categories-list']" class="btn btn-danger" style="margin-left: 10px">Cancelar</button>
          </form>
        </app-card>
      </div>
    </div>