<div class="row">
    <div class="col-xl-12">
      <app-card cardTitle="FACTURAS" blockClass="table-border-style">      
        
        <div class="app-modal-footer">
          <button style="margin: 10px" [routerLink]="['/create-billtopay']"   class="btn btn-outline-primary" >Agregar Factura</button>
       <!--
          <button [routerLink]="['/conciliacion-list']"   class="btn btn-outline-primary" >poliza contable </button>
        -->
        </div>
        <div class="table-responsive">
          <app-alert type="danger" [hidden]="alertDisable">{{alertMessage}}</app-alert> 
          <app-alert type="success" [hidden]="alertDisables">{{alertMessages}}</app-alert> 
          <table class="table">
            <thead>
            <tr>            
              <th>id  Factura</th>  
              <th>Folio de Factura</th>
              <th>id orden de compra</th>
              <th>Fecha de Factura </th>
              <th>Fecha de pago programada</th>
              <th>Monto</th>
              <th>Descripción del bien o servicio adquirido</th>
              <th>Estatus </th>
              <th>#</th>
              
              
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let general of general | async">
                  
                  <td>{{general.billtopay_id}}</td>
                    <td>{{general.billtopay_invoice_folio}}</td>
                    <td>{{general.creditor_id}}</td>
                    <td>{{general.billtopay_invoice_date}}</td>
                    <td>{{general.billtopay_scheduled_payment_date}}</td>
                    <td>{{general.billtopay_amount}}</td>
                    <td>{{general.billtopay_service_description}}</td>
                    
                    
                    <td>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" [checked]="general.billtopay_status == 'true'">
                          <label class="custom-control-label" for="billtopay_status">Active</label>
                       </div>
                      </td>

                    <td>
                      <button  class="btn btn-outline-danger"  (click)="createPeriodsDialog.show()">Eliminar</button>
                        <button (click)="updateGeneral(general.billtopay_id)" class="btn btn-outline-info" style="margin-left: 10px">Actualizar</button>
                        <button (click)="generalDetails(general.billtopay_id)" class="btn btn-outline-info" style="margin-left: 10px">Detalles</button>    

                        <app-ui-modal #createPeriodsDialog dialogClass="modal-dialog-centered">
                          <div class="app-modal-header">
                          <h5 class="modal-title">Eliminar factura</h5>
                          <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="createPeriodsDialog.hide()"><span aria-hidden="true">&times;</span></button>
                          </div>
                          <div class="app-modal-body">
                          <p>Esta seguro de eliminar  factura?</p>
                          </div>
                          <div class="app-modal-footer">
                          <button type="button" class="btn btn-secondary"   style="margin-left: 10px"   data-dismiss="modal" (click)="createPeriodsDialog.hide()">Cerrar</button>
                          <button type="submit" class="btn btn-danger"  (click)="deleteGeneral(general.billtopay_id)"  (click)="createPeriodsDialog.hide()"  style="margin-left: 10px">Eliminar</button>
                          </div>
                      </app-ui-modal>
                    </td>
                </tr>
            </tbody>
          </table>
        </div>
      </app-card>
    </div>
  </div>