<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <app-card cardTitle="Lista general " blockClass="table-border-style">      
        <button [routerLink]="['/create-periods']" class="btn btn-primary">Agregar periodo</button><br>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>numero de periodo</th>
              <th>Mes del periodo</th>
              <th>Año</th>
              <th>Fecha de inicio del periodo</th>
              <th>fecha de fin de periodo</th>
              <th>Periodo Estatus</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let periods of periods | async">                  
                    
                    <td>{{periods.periodsNumber}}</td>
                    <td>{{periods.periodsName}}</td>
                    <td>{{periods.periodsYear}}</td>
                    <td>{{periods.periodsStartDate}}</td>
                    <td>{{periods.periodsEndDate}}</td>
                    <td>
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" [checked]="periods.periodsStatus == 'true'">
                        <label class="custom-control-label" for="periodsStatus">Active</label>
                    </div>
                    </td>
                    <td>                 
                        <button (click)="deletePeriods(periods.periodsId)" class="btn btn-danger">Delete</button>
                        <button (click)="updatePeriods(periods.periodsId)" class="btn btn-info" style="margin-left: 10px">Update</button>
                        <button (click)="periodsDetails(periods.periodsId)" class="btn btn-info" style="margin-left: 10px">Details</button>
                    </td>
                </tr>
            </tbody>
          </table>
        </div>
      </app-card>
    </div>
  </div>
</div>