<div class="row">
    <div class="col-xl-12">
      <app-card cardTitle="General List" blockClass="table-border-style">      
        <button [routerLink]="['/create-general']" class="btn btn-primary">Add General</button><br>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>              
              <th> Nombre o Razón Social</th>
              <th>Direccion</th>
              <th>Giro</th>
              <th>Estatus</th>
              
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let general of general | async">
                    <td>{{general.creditor_business_name}}</td>
                    <td>{{general.creditor_addres}}</td>
                    <td>{{general.creditor_turn}}</td>
                    <td>

                        <input id="creditor_status" type="checkbox" ng-checked="leader" aria-label="Follower input">

                    </td>
                    
                    <td>                 
                      
                        
                    </td>
                </tr>
            </tbody>
          </table>
        </div>
      </app-card>
    </div>
  </div>