<div class="row">
    <div class="col-xl-12">
      <app-card cardTitle="Inventario Maestros" blockClass="table-border-style">      
        <button [routerLink]="['/create-master']" class="btn btn-outline-info">Agregar Maestro Inventario</button><br>
        <br>
        <div class="table-responsive">
          <table class="table">
            <thead>
                <tr>              
                    <th>Maestro Nombre Inventario</th>
                    <th>Identificador Maestro</th>
                    <th>Localizacion Maestro</th>
                    <th>Descripción General</th>
                    <th>Estatus </th>
                    <th>Acciones</th>
                  </tr>
            </thead>
            <tbody>
                <tr *ngFor="let general of general | async">
                    <td>{{general.master_inventarys_name_inventary}} </td>
                    <td>{{general.master_inventarys_identifier}}</td>
                    <td>{{general.master_inventarys_location}}</td>
                    <td>{{general.condominums_description}}</td>
                    
                    <td>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" [checked]="general.master_status == 'true'">
                          <label class="custom-control-label" for="master_status">Active</label>
                       </div>
                      </td>

                    <td>
                        <button (click)="deleteGeneral(general.sub_categories_id)"  class="btn btn-outline-danger">Eliminar</button>
                        <button (click)="updateGeneral(general.master_inventarys_id)" class="btn btn-outline-info" style="margin-left: 10px">Actualizar</button>
                        <button (click)="generalDetails(general.master_inventarys_id  )" class="btn btn-outline-info" style="margin-left: 10px">Detalles</button>    
                        
                    </td>
                </tr>
            </tbody>
          </table>
        </div>
      </app-card>
    </div>
  </div>