<p>reservations-details works!</p>
<div class="row justify-content-center">
    <div class="col-sm-12">
      <app-card cardTitle="Detalles de reservaciones" [options]="false">
        <app-alert type="danger" [hidden]="alertDisable">{{alertMessage}}</app-alert> 
        <div *ngIf="reservation">
          <div>
            <label><b>Ubicacion de reservacion: </b></label> {{reservation.articles_name_article}}
          </div>         
          <div>
            <label><b>Fecha inicial de reservacion: </b></label> {{reservation.reservations_start}}
          </div>
          <div>
            <label><b>Fecha final de reservacion: </b></label> {{reservation.reservations_end}}
          </div>
          <div>
            <label><b>Residente: </b></label>{{reservation.tenants_name}} {{reservation.tenants_father_surname}} {{reservation.tenants_mother_surname}}
           </div>
          <div>
            <label><b>Estatus:  </b></label>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input"  id="reservations_status"       name="reservations_status"   style="margin-left: 10px" [checked]="reservation.reservations_status == 'true'">
                <label class="custom-control-label" for="reservations_status">Active</label>
             </div>
        </div>
        </div>
        <br>
        <button [routerLink]="['/reservations-list']" class="btn btn-primary">Regresar a reservaciones</button><br>
      </app-card>
      </div>
  </div>