
<div class="row justify-content-center">
    <div class="col-sm-12">
      <div class="col-md-6">
        <app-card cardTitle="Crear Orden de Venta" [options]="false">
          <form (ngSubmit)="onSubmit()">  
            
            
           

            <div class="form-group">
                <label for="name">Nombre de Orden</label>
                <input type="text" class="form-control" id="purcharse_name"  [(ngModel)]="employee.purcharse_name" name="purcharse_name" required> 
              </div> 
              



              <div class="form-group">
                <label for="name">Direccion</label>
                <input type="text" class="form-control" id="fractionation_address"  [(ngModel)]="employee.fractionation_address" name="fractionation_address" required> 
              </div>

             
              
              <div class="form-group">
                <label for="name">Nombre del solicitante</label>
                <input type="text" class="form-control" id="applicant_name"  [(ngModel)]="employee.applicant_name" name="applicant_name" required> 
              </div>

              <div class="form-group">
                <label for="exampleFormControlSelect1">Proveedor</label>
                <select  class="custom-select"  id="supplier_id" required [(ngModel)]="employee.supplier_id" name="supplier_id" >
                <option *ngFor="let address of suppliers | async" value="{{address.supplier_id}}">{{address.supplier_name}}</option>
                 </select>
               </div>    
            
               <div class="form-group">
                <label for="exampleFormControlSelect1">Terminos de pago</label>
                <select  class="custom-select"  id="payment_term_id" required [(ngModel)]="employee.payment_term_id" name="payment_term_id" >
                <option *ngFor="let address of payments | async" value="{{address.payment_termns_id}}">{{address.payment_description}}</option>
                 </select>
               </div>
                   
               <div class="form-group">
                <label for="exampleFormControlSelect1">Articulos</label>
                <select  class="custom-select"  id="sku" required [(ngModel)]="employee.sku" name="sku" >
                <option *ngFor="let address of articlesc | async" value="{{address.articles_sku}}">{{address.articles_name_article}}</option>
                 </select>
               </div>    
               
             
               <div class="form-group">
                <label for="name">Direccion de Farccionamiento </label>
                <input type="text" class="form-control" id="fractionation_address"  [(ngModel)]="employee.fractionation_address" name="fractionation_address" required> 
              </div>
             

              <div class="form-group">
                <label for="name">Cantidad de Articulos </label>
                <input type="text" class="form-control" id="purcharse_quantity_items"  [(ngModel)]="employee.purcharse_quantity_items" name="purcharse_quantity_items" required> 
              </div> 
                   

                    
              <div class="form-group">
                <label for="name">PRECIO ARTICULOS  </label>
                <input type="text" class="form-control" id="articles_prices"  [(ngModel)]="employee.articles_prices" name="articles_prices" required> 
              </div> 


              <div class="form-group">
                <label for="name">TOTAL DE ORDEN </label>
                <input type="text" class="form-control" id="purcharse_order_total"  [(ngModel)]="employee.purcharse_order_total" readonly="readonly" name="purcharse_order_total" required> 
              </div> 
              
              <div class="form-group">
                <label for="name"> FECHA DE CREACION DE ORDEN </label>
                <input type="datetime"     value="08-07-2020" class="form-control" id="purcharse_order_creation_date"  [(ngModel)]="employee.purcharse_order_creation_date" name="purcharse_order_creation_date" required> 
              </div> 

            
                <div class="form-group">
                <label for="name">Estatus</label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input"  id="purcharse_status"  [(ngModel)]="employee.purcharse_status"     name="purcharse_status"   style="margin-left: 10px">
                    <label class="custom-control-label" for="purcharse_status">Active</label>
                 </div>
 


                 

              </div>
              <app-alert type="danger" [hidden]="alertDisable">{{alertMessage}}</app-alert> 
             <app-alert type="success" [hidden]="alertDisables">{{alertMessages}}</app-alert> 
               <app-ui-modal #createPeriodsDialog dialogClass="modal-dialog-centered">
              <div class="app-modal-header">
              <h5 class="modal-title">Crear Orden de Compra</h5>
              <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="createPeriodsDialog.hide()"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="app-modal-body">
              <p>Esta seguro de insertar Orden</p>
             
            </div>
               <div class="app-modal-footer">
              <button type="button" class="btn btn-secondary"   style="margin-left: 10px"   data-dismiss="modal" (click)="createPeriodsDialog.hide()">Cerrar</button>
              <button type="submit" class="btn btn-success" (click)="createPeriodsDialog.hide()"  style="margin-left: 10px">Guardar</button>
              </div>
               </app-ui-modal>
               <button type="button"  class="btn btn-outline-primary" data-toggle="modal" (click)="createPeriodsDialog.show()">Guardar</button>        
               <button [routerLink]="['/purchase_orders-list']" class="btn btn-outline-secondary" style="margin-left: 10px">Regresar</button>
          </form>
        </app-card>
      </div>
    </div>