label { color: #ffffff; }
.news-export-doc .title-page, .news-export-doc .content {
    font-family: 'Menlo';
}


div, html {
    padding: 2;
    margin: 2;
    color: black;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}