<div class="row">
    <div class="col-xl-12">
       
      <app-card cardTitle="Articulos" blockClass="table-border-style">      
        
        <br>


        <form class="form-inline waves-light" mdbWavesEffect (ngSubmit)="onSubmit()">
          <div class="md-form mt-0" >
  
            <input [(ngModel)]="generals.articles_sku"
            id="articles_sku"   name="articles_sku"
            class="form-control mr-sm-2" type="text" placeholder="Articulo"  >
  
  
            <!--<div class="form-group">
              <label for="exampleFormControlSelect1">Subinventario</label>
              <select  class="custom-select" id="sub_inventario" required [(ngModel)]="filter.sub_inventario" name="sub_inventario"  >
              <option *ngFor="let filter of Subinventarios | async" value="{{filter.sub_inventario}}">{{filter.sub_inventarys_description}}</option>
              </select>
              </div>!-->
              
             
            
            <button type="submit" class="btn btn-outline-success">Buscar articulo</button>   
            <button type="button"  (click)="reloadData()" class="btn btn-outline-info" style="margin-left: 10px">Refrescar</button>  
          </div>
     
         
  
        </form>


  <div class="text-right">
    <button class="btn btn-outline-primary" (click)="exportExcelTenants()"  style="cursor: pointer" >
        <i class="fa fa-file-excel-o">Excel</i>
    </button>
  </div>

  
  <div class="text-right">
    <button type="button"  (click)="imprimirLista()"style="margin: 10 px;"class="btn btn-outline-primary" >
        <i class="fa fa-file-excel-o">PDF</i>
    </button>
  </div>


  <div>
          
    
  </div>

        <form class="form-inline waves-light" mdbWavesEffect (ngSubmit)="onSubmitsub()">
          <div class="md-form mt-0"    >
  
            
  
            <input [(ngModel)]="generals.sub_inventario"
            id="sub_inventario"   name="sub_inventario"
            class="form-control mr-sm-2" type="text" placeholder="subinventario"  >
  
           
  
            <!--<div class="form-group">
              <label for="exampleFormControlSelect1">Subinventario</label>
              <select  class="custom-select" id="sub_inventario" required [(ngModel)]="filter.sub_inventario" name="sub_inventario"  >
              <option *ngFor="let filter of Subinventarios | async" value="{{filter.sub_inventario}}">{{filter.sub_inventarys_description}}</option>
              </select>
              </div>!-->
              
             
            
          
            <button type="submit" class="btn btn-outline-success">Buscar subinventario</button> 
            <button type="button"  (click)="reloadData()" class="btn btn-outline-info" style="margin-left: 10px">Refrescar</button>  
          </div>
     
         
  
        </form>
        
        

  
        <div class="table-responsive"  >
          <table class="table" id="tenants"   >
            <thead>
                <tr>      
                  <th>SKU </th> 
                    <th>Articulo </th>
                    <th>Descripcion</th>
                    <th>Subinventario</th>
                    <th>Caracteristicas Internas</th>
                    <th>Caracteristicas Externas</th>
                   
                    <th>Estatus Articulo</th>
                    
                    <th>FECHA Desde </th>
                    <th>Fecha Hasta</th>
                    <th>Inquilino </th>
 
                  </tr>
            </thead>
            <tbody>
                <tr *ngFor="let general of general | async">
                  <td>{{general.articles_sku}} </td>  
                  <td>{{general.articulo}} </td>
                    <td>{{general.descripcion}} </td>
                    <td>{{general.sub_inventario}}</td>

                    <td>{{general.caract_extern}}</td>
                    <td>{{general.caract_int}}</td>
                    <td>{{general.estatus}}</td>

                    <td>{{general.desde}}</td>
                    <td>{{general.hasta}}</td>
                    <td>{{general.inquilino_nombre}}</td>
                    <td>{{general.inquilino_apellido_1}}</td>
                    <td>{{general.inquilino_apellido_2}}</td>

  
                    
                  
                    
                    <td>
                        
                        <button (click)="generalDetails(general.articles_sku)" class="btn btn-outline-info" style="margin-left: 10px">Detalles</button>    
                        
                    </td>
                </tr>
            </tbody>
          </table>
        </div>
      </app-card>
    </div>
  </div>
