<div class="row">
  <div class="col-xl-12">
    <app-card cardTitle="Ordenes de Compra" blockClass="table-border-style">      
      <button [routerLink]="['/create-purcharse']" class="btn btn-outline-primary">Crear Orden de Compra</button><br>
      <br>
      <div class="table-responsive">
        <app-alert type="danger" [hidden]="alertDisable">{{alertMessage}}</app-alert> 
        <app-alert type="success" [hidden]="alertDisables">{{alertMessages}}</app-alert> 
        <table class="table">
          <thead>
          <tr>         
            
            <th>Id de la Orden  </th>
            
            <th>NOMBRE del Solicitante </th>
            <th>ADDRESS</th>
            <th>ARTICULO </th>
            <th>Proveedor</th>
            <th>Termino de pago</th>
            
            <th> Cantidad de articulos </th>
            <th> Precio Articulos </th>
            <th>Total de orden</th>
            <th>FECHA DE CREACION</th>
            <th>CATEGORIA</th>
            
            <th>Estatus</th>
            <th>#</th>
          </tr>
          </thead>
          <tbody>
              <tr *ngFor="let general of general | async">
                 
                <td>{{general.purcharse_id}}</td>
                
                <td>{{teha.tenants_name}}</td>
                <td>{{condo.condominums_description}}</td>
                <td>{{general.articles_name_article}}</td> 
                <td>{{general.supplier_name}}</td>
                <td>{{general.payment_description}}</td>
                <td>{{general.purcharse_quantity_items}}</td>
                <td>{{general.articles_prices}}</td>
                <td>{{general.purcharse_order_total}}</td>
                <td>{{general. purcharse_address}}</td>
                <td>{{general. categories_name}}</td>
               
                
               
                  
                  <td>
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" [checked]="general.purcharse_status == 'true'">
                        <label class="custom-control-label" for="purcharse_status">Active</label>
                     </div>
                    </td>

                  <td>
                    <button  class="btn btn-outline-danger"  (click)="createPeriodsDialog.show()">Eliminar</button>
                      <button (click)="updateGeneral(general.purcharse_id)" class="btn btn-outline-info" style="margin-left: 10px">Actualizar</button>
                      <button (click)="generalDetails(general.purcharse_id)" class="btn btn-outline-info" style="margin-left: 10px">Detalles</button>    

                      <app-ui-modal #createPeriodsDialog dialogClass="modal-dialog-centered">
                        <div class="app-modal-header">
                        <h5 class="modal-title">Eliminar Fraccionamiento</h5>
                        <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="createPeriodsDialog.hide()"><span aria-hidden="true">&times;</span></button>
                        </div>
                        
                        <div class="app-modal-body">
                        <p>Esta seguro de eliminar el fraccionamiento?</p>
                        </div>
                        <div class="app-modal-footer">
                        <button type="button" class="btn btn-secondary"   style="margin-left: 10px"   data-dismiss="modal" (click)="createPeriodsDialog.hide()">Cerrar</button>
                        <button type="submit" class="btn btn-danger"  (click)="deleteGeneral(general.purcharse_id)"  (click)="createPeriodsDialog.hide()"  style="margin-left: 10px">Eliminar</button>
                        </div>
                    </app-ui-modal>
                  </td>
              </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>
