<div class="table-responsive">
  <table class="tableList">
    <thead>
    <tr>           
      <th>Ubicacion</th>
      <th>Fecha y hora inicial</th>
      <th>Fecha y hora final</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let reservation of reservations | async">
            <td>{{reservation.articles_name_article}}</td>
            <td>{{reservation.reservations_start}}</td>
            <td>{{reservation.reservations_end}}</td>
        </tr>
    </tbody>
  </table>
</div>
<div class="row justify-content-center">
    <div class="col-sm-12">
      <div class="col-md-6">
        <app-card cardTitle="Crear reservacion" [options]="false">
          <form (ngSubmit)="onSubmit()">
            <div class="form-group">
              <app-alert type="danger" [hidden]="alertDisable">{{alertMessage}}</app-alert> 
              <app-alert type="success" [hidden]="alertDisables">{{alertMessages}}</app-alert> 
              <label for="exampleFormControlSelect1">Lugar</label>
              <select class="custom-select"  id="articles_sku" required [(ngModel)]="reservation.articles_sku" name="articles_sku"   (ngModelChange)="javq($event)"  >
              <option  *ngFor="let article of articles | async" value="{{article.articles_sku}}" >{{article.articles_name_article}}</option>
              </select>
          </div>             
              <div class="form-group">
                <label for="name">Fecha y hora de inicio</label>
                <input type="datetime-local" class="form-control" id="reservations_start" required [(ngModel)]="reservation.reservations_start" name="reservations_start" >
              </div>    
              <div class="form-group">
                <label for="name">Fecha y hora de fin</label>
                <input type="datetime-local" class="form-control" id="reservations_end" required [(ngModel)]="reservation.reservations_end" name="reservations_end">
              </div>    
              <div class="form-group">
                <label for="exampleFormControlSelect1">Residente</label>
                <select class="custom-select"  id="tenants_id" required [(ngModel)]="reservation.tenants_id" name="tenants_id" >
                <option *ngFor="let tenant of tenants | async" value="{{tenant.tenants_id}}">{{tenant.tenants_name}}</option>
                </select>
            </div>  
            <div class="form-group">
                <label for="name">Estatus</label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input"  id="reservations_status"  [(ngModel)]="reservation.reservations_status"     name="reservations_status"   style="margin-left: 10px">
                    <label class="custom-control-label" for="reservations_status">Active</label>
                 </div>
            </div>
            <button type="submit" class="btn btn-success">Guardar</button>          
            <button [routerLink]="['/reservations-list']" class="btn btn-danger" style="margin-left: 10px">Cancelar</button>
          </form>
        </app-card>
      </div>
    </div>
