<div class="row">
    <div class="col-xl-12">
      <app-card cardTitle="Contact List" blockClass="table-border-style">      
        <button [routerLink]="['/create-contacts']" class="btn btn-primary">Agregar contacto</button><br>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>#</th>
              <th>Nombre(s)</th>
              <th>Apellido Paterno</th>
              <th>Apellido Materno</th>
              <th>Numero de seguridad Social</th>
              <th>Parentesco</th>
              <th>Teléfono</th>
              <th>Empleado</th>
              <th>Estatus</th>
              <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contact of contacts | async">
                    <td>{{contact.contacts_id}}</td>
                    <td>{{contact.contacts_name}}</td>
                    <td>{{contact.contacts_father_surname}}</td>
                    <td>{{contact.contacts_mother_surname}}</td>
                    <td>{{contact.contacts_nss}}</td>
                    <td>{{contact.contacts_relationship}}</td>
                    <td>{{contact.contacts_cellphone}}</td>
                    <td>{{contact.employees_name}} {{contact.employees_father_surname}} {{contact.employees_mother_surname}}</td>
                    <td>{{contact.contacts_status}}</td>
                    <td>                 
                        <button (click)="deleteContact(contact.contacts_id)" class="btn btn-danger">Delete</button>
                        <button (click)="updateContact(contact.contacts_id)" class="btn btn-info" style="margin-left: 10px">Update</button>
                        <button (click)="contactDetails(contact.contacts_id)" class="btn btn-info" style="margin-left: 10px">Details</button>
                    </td>
                </tr>
            </tbody>
            <button [routerLink]="['/employee-list']" class="btn btn-primary">Regresar a empleados</button><br>
          </table>
        </div>
      </app-card>
    </div>
  </div>