<div class="row justify-content-center">
    <div class="col-sm-12">
      <div class="col-md-6">
        <app-card cardTitle="Actualizar Empresa" [options]="false">
          <form (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="name">Nombre Completo</label>
              <input type="text" class="form-control" id="legals_name"  [(ngModel)]="employee.legals_name" name="legals_name" required>
            </div>      
            <div class="form-group">
              <label for="name">Dirección</label>
              <input type="text" class="form-control" id="legals_address"  [(ngModel)]="employee.legals_address" name="legals_address" required>
            </div>  
            <div class="form-group">
              <label for="name">Descripción</label>
              <input type="text" class="form-control" id="legals_description"  [(ngModel)]="employee.legals_description" name="legals_description" required>
            </div>
            <div class="form-group">
                <label for="name">RFC</label>
                <input type="text" class="form-control" id="legals_rfc"  [(ngModel)]="employee.legals_rfc" name="legals_rfc" required>
            </div>
            <div class="form-group">
              <label for="name">Registro Patronal</label>
              <input type="text" class="form-control" id="legals_employer_registration"  [(ngModel)]="employee.legals_employer_registration" name="legals_employer_registration" required>
          </div>
          <div class="form-group">
            <label for="name">Regimen Fiscal</label>
            <input type="text" class="form-control" id="legals_tax_regime"  [(ngModel)]="employee.legals_tax_regime" name="legals_tax_regime" required>
        </div>
            <div class="form-group">
                <label for="name">Estatus</label> 

                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input"  id="legals_status"  [(ngModel)]="employee.legals_status"     name="legals_status"   style="margin-left: 10px">
                    <label class="custom-control-label" for="legals_status">Active</label>
                 </div>
            </div>
            <app-alert type="danger" [hidden]="alertDisable">{{alertMessage}}</app-alert> 
            <app-alert type="success" [hidden]="alertDisables">{{alertMessages}}</app-alert> 
            <app-ui-modal #createPeriodsDialog dialogClass="modal-dialog-centered">
              <div class="app-modal-header">
              <h5 class="modal-title">Crear Empresa</h5>
              <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="createPeriodsDialog.hide()"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="app-modal-body">
              <p>Esta seguro de actualizar la empresa</p>
              </div>
              <div class="app-modal-footer">
              <button type="button" class="btn btn-secondary"   style="margin-left: 10px"   data-dismiss="modal" (click)="createPeriodsDialog.hide()">Cerrar</button>
              <button type="submit" class="btn btn-success" (click)="createPeriodsDialog.hide()"  style="margin-left: 10px">Guardar</button>
              </div>
          </app-ui-modal>
          <button type="button"  class="btn btn-primary" data-toggle="modal" (click)="createPeriodsDialog.show()">Guardar</button>          
          <button [routerLink]="['/legals-list']" class="btn btn-secondary" style="margin-left: 10px">Regresar</button>
          </form>
        </app-card>
      </div>
    </div>