<div class="row">
  <div class="col-xl-12">
    <app-card cardTitle="Employee List" blockClass="table-border-style">      
      <button [routerLink]="['/create-employee']" class="btn btn-primary">Add Employee</button><br>
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>Nombre(s)</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Acciones</th>
          </tr>
          </thead>
          <tbody>
              <tr *ngFor="let employee of employees | async">
                  <td>{{employee.employees_id}}</td>
                  <td>{{employee.employees_name}}</td>
                  <td>{{employee.employees_father_surname}}</td>
                  <td>{{employee.employees_mother_surname}}</td>
                  <td>                 
                      <button (click)="deleteEmployee(employee.employees_id)" class="btn btn-danger">Delete</button>
                      <button (click)="updateEmployee(employee.employees_id)" class="btn btn-info" style="margin-left: 10px">Update</button>
                      <button (click)="employeeDetails(employee.employees_id)" class="btn btn-info" style="margin-left: 10px">Details</button>
                  </td>
              </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>