<div class="row">
  <div class="col-xl-12">
    <div>
          
      <button type="button"  style="margin: 10 px;"   class="btn btn-primary" (click)="imprimirLista(employee.supplier_id)">Imprimir Lista General</button>
    </div>
    <app-card cardTitle="Proveedores" blockClass="table-border-style"  >      
     

      <br>
      <form class="form-inline waves-light" mdbWavesEffect (ngSubmit)="onSubmit()">
        <div class="md-form mt-0" >

          <input [(ngModel)]="filter.create_date"
          id="create_date"   name="create_date"
          class="form-control mr-sm-2" type="date" placeholder="Search">

          <select class="form-control mr-sm-2" [(ngModel)]="filter.supplier_status"
          id="supplier_status"   name="supplier_status"
          >
            
            <option value="1">Activos</option>
            <option value="2">Desactivos</option>
          </select>
          <button type="submit" class="btn btn-outline-success">Buscar</button>    
          <button    (click)="reloadData()" class="btn btn-outline-info" style="margin-left: 10px">Refrescar</button>  
        </div>
   
       

      </form>


      <div class="table-responsive"  id="from-informacion" >
        <table class="table"    >
          
          
          <thead  >

             


          <tr >          
            

            <th>ID</th>             
            <th>Nombre </th>
            <th>Dirección Completa</th>
           
            <th>RFC</th>
            <th>Email</th>

            <th>Telefono</th>
            <th>Giro</th>
            <th>Fecha</th>
            <th>Estatus </th>
            <th>#</th>
          </tr>
          </thead>
          <tbody >
              <tr  *ngFor="let general of general | async">
                <td >{{general.supplier_id}}</td>
                  <td >{{general.supplier_name}}</td>
                  <td>{{general.supplier_address}}</td>
                  <td>{{general.supplier_rfc}}</td>
                  <td>{{general.supplier_email}}</td>
                  <td>{{general.supplier_phone}}</td>
                  <td>{{general.supplier_turn}}</td>
                  <td>{{general.create_date}}</td>
           
                  
                  <td>
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" [checked]="general.supplier_status == 'true'">
                        <label class="custom-control-label" for="supplier_status">Active</label>
                     </div>
                    </td>

                           
                  <td>
                  
                    <button    (click)="generalDetails(general.supplier_id)" class="btn btn-outline-info" style="margin-left: 10px">Detalles</button>  
                     
                      
                    

                     


                  </td>
              </tr>
          </tbody>
        </table>
        
        
      </div>
    </app-card>


   
  </div>
</div>