<div class="row justify-content-center">
    <div class="col-sm-12">
      <app-card cardTitle="Rol Detalle" [options]="false">
        <div *ngIf="employee">

          <app-alert type="danger" [hidden]="alertDisable">{{alertMessage}}</app-alert> 
          <div>
            <label><b>Nombre del rol: </b></label> {{employee.rol_description}}
          </div>
          
          <div>
            <label><b>Estatus:  </b></label>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input"  id="rol_status" disabled  name="rol_status"   style="margin-left: 10px" [checked]="employee.rol_status == 'true'">
            <label class="custom-control-label" for="rol_status">Active</label>
         </div>
        </div>
        </div>
        <br>
        <button [routerLink]="['/rols-list']" class="btn btn-outline-primary">Regresar</button><br>
      </app-card>
      </div>
  </div>