<div class="row">
    <div class="col-xl-12">
      <app-card cardTitle="Tags Inactivos" blockClass="table-border-style">      
      <button [routerLink]="['/ac-create-tags']" class="btn btn-primary" style="margin-top: 10px; margin-bottom: 10px;">Crear Tag</button><br>
        <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Tag</th>
                <th>Estatus </th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let iTag of InactTags | async ">
                    <!--  <td *ngIf="View.tag_status_a == 'false'">{{View.tag_id}}</td>-->
                      <td>{{iTag.tag_code}}</td>
                      <td>
                          <h6><span class="badge badge-danger">Inactivo</span></h6>
                      </td>
                      <td>
                          <button (click)="tagsDetails(iTag.tag_code)"
                              class="btn btn-outline-info"
                              aria-pressed="true">Detalles</button>
                          <button class="btn btn-outline-primary" (click)="activeTag(iTag.tag_code)" style="margin-left: 10px">Activar</button> 
                          
                      </td>
                </tr>
            </tbody>
            </table>
        </div>
      </app-card>
    </div>
  </div>