<p>accolintype-details works!</p>
<div class="row justify-content-center">
    <div class="col-sm-12">
      <app-card cardTitle=" Cuenta Detalle" [options]="false">
        <div *ngIf="employee">

          <app-alert type="danger" [hidden]="alertDisable">{{alertMessage}}</app-alert> 
          
          <div>
            <label><b>nombre de tipo </b></label> {{employee.accounting_accounts_types_name}}
          </div>
         
         


          <div>
            <label><b>Estatus:  </b></label>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input"  id="accounting_accounts_types_status"  name="accounting_accounts_types_status"   style="margin-left: 10px" [checked]="employee.accounting_accounts_types_status == 'true'">
            <label class="custom-control-label" for="accounting_accounts_types_status">Active</label>
         </div>
        </div>
        </div>
        <br>
        <button [routerLink]="['/accolintype-list']" class="btn btn-outline-primary">Regresar</button><br>
      </app-card>
      </div>
  </div>
