<div class="row justify-content-center">
  <div class="col-sm-12">
    <div class="col-md-6">
      <app-card cardTitle="Crear Cobro" [options]="false">
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name">Tipo de transacción</label>
            <select class="custom-select" id="collection_transaction_type" required
              [(ngModel)]="employee.collection_transaction_type" name="collection_transaction_type">
              <option *ngFor="let transactionTypes of transactionTypes | async"
                value="{{transactionTypes.transaction_types_name_type_transaction}}">
                {{transactionTypes.transaction_types_name_type_transaction}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="name">Nombre del Residente</label>
            <select class="custom-select" id="customer_customer_name" required
              [(ngModel)]="employee.collection_name_resident" name="collection_name_resident">
              <option *ngFor="let customer of customer | async" value="{{customer.customer_customer_name}}">
                {{customer.customer_customer_name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="name">Termino de pago </label>
            <select class="custom-select" id="collection_payment_term" required
              [(ngModel)]="employee.collection_payment_term" name="collection_payment_term">
              <option *ngFor="let paymentsterms of paymentsterms | async"
                value="{{paymentsterms.payment_terms_name_payment_term}}">
                {{paymentsterms.payment_terms_name_payment_term}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="name">Concepto de cobro </label>
            <select class="custom-select" id="collection_collection_concept" required
              [(ngModel)]="employee.collection_collection_concept" name="collection_collection_concept">

              <option *ngFor="let collectionconcepts of collectionconcepts | async"
                value="{{collectionconcepts.collection_concepts_concept_name}}">
                {{collectionconcepts.collection_concepts_concept_name}}</option>
            </select>

          </div>
          <div class="form-group">
            <label for="name">Importe </label>
            <input type="text" class="form-control" id="collection_amount" [(ngModel)]="employee.collection_amount"
              name="collection_amount" required>
          </div>
          <div class="form-group">
            <label for="name">Dirección de Facturación</label>
            <select class="custom-select" id="collection_referral_address" required
              [(ngModel)]="employee.collection_referral_address" name="collection_referral_address">
              <option *ngFor="let referraladdress of referraladdress | async"
                value="{{referraladdress.referral_address_direction}}">
                {{referraladdress.referral_address_direction}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="name">Estatus</label>
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="collection_status"
                [(ngModel)]="employee.collection_status" name="collection_status" style="margin-left: 10px">
              <label class="custom-control-label" for="collection_status">Active</label>
            </div>
          </div>
          <app-alert type="danger" [hidden]="alertDisable">{{alertMessage}}</app-alert>
          <app-alert type="success" [hidden]="alertDisables">{{alertMessages}}</app-alert>
          <app-ui-modal #createPeriodsDialog dialogClass="modal-dialog-centered">
            <div class="app-modal-header">
              <h5 class="modal-title">Crear Cobro</h5>
              <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
                (click)="createPeriodsDialog.hide()"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="app-modal-body">
              <p>Esta seguro de insertar la Cobro</p>
            </div>
            <div class="app-modal-footer">
              <button type="button" class="btn btn-secondary" style="margin-left: 10px" data-dismiss="modal"
                (click)="createPeriodsDialog.hide()">Cerrar</button>
              <button type="submit" class="btn btn-success" (click)="createPeriodsDialog.hide()"
                style="margin-left: 10px">Guardar</button>
            </div>
          </app-ui-modal>
          <button type="button" class="btn btn-outline-primary" data-toggle="modal"
            (click)="createPeriodsDialog.show()">Guardar</button>
          <button [routerLink]="['/collection-list']" class="btn btn-outline-secondary"
            style="margin-left: 10px">Regresar</button>
        </form>
      </app-card>
    </div>
  </div>