<div class="row justify-content-center">
    <div class="col-sm-12">
        <div class="col-md-6">
            <app-card cardTitle="Crear Colletion" [options]="false">
                <form (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="name">collection_id</label>
                        <input type="text" class="form-control" id="collection_id"
                            [(ngModel)]="collection.collection_id" name="collection_id" required>
                    </div>
                    <div class="form-group">
                        <label for="name">collection_transaction_type</label>
                        <input type="text" class="form-control" id="collection_transaction_type"
                            [(ngModel)]="collection.collection_transaction_type" name="collection_transaction_type"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="name">collection_name_resident</label>
                        <input type="text" class="form-control" id="collection_name_resident"
                            [(ngModel)]="collection.collection_name_resident" name="collection_name_resident" required>
                    </div>
                    <div class="form-group">
                        <label for="name">collection_payment_term</label>
                        <input type="text" class="form-control" id="collection_payment_term"
                            [(ngModel)]="collection.collection_payment_term" name="collection_payment_term" required>
                    </div>

                    <div class="form-group">
                        <label for="name">collection_referral_address</label>
                        <input type="text" class="form-control" id="collection_referral_address"
                            [(ngModel)]="collection.collection_referral_address" name="collection_referral_address"
                            required>
                    </div>

                    <div class="form-group">
                        <label for="name">condominums_id</label>
                        <input type="text" class="form-control" id="condominums_id"
                            [(ngModel)]="collection.condominums_id" name="condominums_id" required>
                    </div>
                    <div class="form-group">
                        <label for="name">created_by</label>
                        <input type="text" class="form-control" id="created_by" [(ngModel)]="collection.created_by"
                            name="created_by" required>
                    </div>
                    <div class="form-group">
                        <label for="name">create_date</label>
                        <input type="text" class="form-control" id="create_date" [(ngModel)]="collection.create_date"
                            name="create_date" required>
                    </div>
                    <div class="form-group">
                        <label for="name">last_updated_by</label>
                        <input type="text" class="form-control" id="last_updated_by"
                            [(ngModel)]="collection.last_updated_by" name="last_updated_by" required>
                    </div>
                    <div class="form-group">
                        <label for="name">last_updated_date</label>
                        <input type="text" class="form-control" id="last_updated_date"
                            [(ngModel)]="collection.last_updated_date" name="last_updated_date" required>
                    </div>
                    <div class="form-group">
                        <label for="name">customer_customer_id</label>
                        <input type="text" class="form-control" id="customer_customer_id"
                            [(ngModel)]="collection.customer_customer_id" name="customer_customer_id" required>
                    </div>
                    <div class="form-group">
                        <label for="name">payment_terms_id</label>
                        <input type="text" class="form-control" id="payment_terms_id"
                            [(ngModel)]="collection.payment_terms_id" name="payment_terms_id" required>
                    </div>
                    <div class="form-group">
                        <label for="name">referral_address_id</label>
                        <input type="text" class="form-control" id="referral_address_id"
                            [(ngModel)]="collection.referral_address_id" name="referral_address_id" required>
                    </div>
                    <div class="form-group">
                        <label for="name">transaction_types_id</label>
                        <input type="text" class="form-control" id="transaction_types_id"
                            [(ngModel)]="collection.transaction_types_id" name="transaction_types_id" required>
                    </div>
                    <div class="form-group">
                        <label for="name">payments_id</label>
                        <input type="text" class="form-control" id="payments_id" [(ngModel)]="collection.payments_id"
                            name="payments_id" required>
                    </div>
                    <div class="form-group">
                        <label for="name">purcharse_id</label>
                        <input type="text" class="form-control" id="purcharse_id" [(ngModel)]="collection.purcharse_id"
                            name="purcharse_id" required>
                    </div>
                    <div class="form-group">
                        <label for="name">collection_status</label>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="collection_status"
                                [(ngModel)]="collection.collection_status" name="collection_status"
                                style="margin-left: 10px">
                            <label class="custom-control-label" for="collection_status">Active</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Guardar</button>
                    <button [routerLink]="['/collection-list']" class="btn btn-danger"
                        style="margin-left: 10px">Cancelar</button>
                </form>
            </app-card>
        </div>
    </div>