<p>departmentsr-list works!</p>
<div class="row">
    <div class="col-xl-12">
      <app-card cardTitle=" REPORTE DEPARTAMENTOS " class="tableR">  
        <button (click)="generatePdf()"   class="btn btn-outline-primary" >Generar pdf</button>
        <button (click)="exportTableToExcel()"   class="btn btn-outline-primary" >Generar excel</button>
        <div>
          <label for="name"> REPORTE DEPARTAMENTOS</label>
          </div>
        <div id="frmDepartment"  class="tableR"  style="width: 100%; margin-top: 20px" >
            <br>
          <table class="tableR">
            <thead>
            <tr>              
              <th>Id departamento</th>
              <th>Nombre departamento </th>
              <th>Nombre puesto </th>
              <th>Activo/Inactivo</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let department of departments | async   " >
                    <td>{{department.departments_id}}</td>
                    <td>{{department.departments_name}}</td>
                    <td>{{department.workplaces_name}}</td>
                    <td>{{department.departments_status}}</td>
                </tr>
            </tbody>
          </table>
        </div>
      </app-card>
    </div>
  </div>