<div class="row justify-content-center">
    <div class="col-sm-12">
      <div class="col-md-6">
        <app-card cardTitle="Actualizar Empresa" [options]="false">
          <form (ngSubmit)="onSubmit()">
            
            <div class="form-group">
              <label for="name">Folio</label>
              <input type="text"  font style="text-transform: uppercase;" class="form-control" id="folio_supplier"  [(ngModel)]="employee.folio_supplier" name="folio_supplier" required>
            </div>
            
            <div class="form-group">
              <label for="name">Nombre</label>
              <input type="text" class="form-control" id="supplier_name"  [(ngModel)]="employee.supplier_name" name="supplier_name" required>
            </div>      
            <div class="form-group">
              <label for="name">Dirección</label>
              <input type="text" class="form-control" id="supplier_address"  [(ngModel)]="employee.supplier_address" name="supplier_address" required>
            </div>  
            <div class="form-group">
              <label for="name">RFC</label>
              <input type="text" class="form-control" id="supplier_rfc"  [(ngModel)]="employee.supplier_rfc" name="supplier_rfc" required>
            </div>
            
            <div class="form-group">
                <label for="name">EMAIL</label>
                <input type="text" class="form-control" id="supplier_email"  [(ngModel)]="employee.supplier_email" name="supplier_email" required>
            </div>

            <div class="form-group">
              <label for="name">TELEFONO</label>
              <input type="text" class="form-control" id="supplier_phone"  [(ngModel)]="employee.supplier_phone" name="supplier_phone" required>
          </div>

          <div class="form-group">
            <label for="name">GIRO</label>
            <input type="text" class="form-control" id="supplier_turn"  [(ngModel)]="employee.supplier_turn" name="supplier_turn" required>
        </div>

        <div class="form-group">
          <label for="name">CUENTA</label>
          <input type="number" class="form-control" id="supplier_account"  [(ngModel)]="employee.supplier_account" name="supplier_account" required>
      </div>
      <div class="form-group">
        <label for="name">BANCO</label>
        <input type="text" class="form-control" id="suppier_bank"  [(ngModel)]="employee.suppier_bank" name="suppier_bank" required>
    </div>
    <div class="form-group">
      <label for="name">CLAVE</label>
      <input type="number" class="form-control" id="supplier_key_interbank"  [(ngModel)]="employee.supplier_key_interbank" name="supplier_key_interbank" required>
  </div>


      


            <div class="form-group">
                <label for="name">Estatus</label> 

                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input"  id="supplier_status"  [(ngModel)]="employee.supplier_status" name="supplier_status"   style="margin-left: 10px">
                    <label class="custom-control-label" for="supplier_status">Active</label>
                 </div>
            </div>
            
            <button type="submit" class="btn btn-success">Guardar</button>          
            <button [routerLink]="['/supplier-list']" class="btn btn-danger" style="margin-left: 10px">Cancelar</button>
          </form>
        </app-card>
      </div>
    </div>
