<div class="row justify-content-center">
  <div class="col-sm-12">
    <!--<div class="col-md-6"></div>-->
    <app-card cardTitle="Employee Details" [options]="false">
      <div *ngIf="employee">
        <div>
          <label><b>Nombre(s): </b></label> {{employee.employees_name}}
        </div>
        <div>
          <label><b>Apellido Paterno: </b></label> {{employee.employees_father_surname}}
        </div>
        <div>
          <label><b>Apellido Materno: </b></label> {{employee.employees_mother_surname}}
        </div>
      </div>
      <br>
      <button [routerLink]="['/employee-list']" class="btn btn-primary">Back to Employee List</button><br>
    </app-card>
    </div>
</div>