<div class="row justify-content-center">
  <div class="col-sm-12">
    <!--<div class="col-md-6"></div>-->
    <app-card cardTitle="Employee Details" [options]="false">
      <div *ngIf="employee">
        <div>
          <label><b>Nombre(s): </b></label> {{employee.employees_name}}
        </div>
        <div>
          <label><b>Apellido Paterno: </b></label> {{employee.employees_father_surname}}
        </div>
        <div>
          <label><b>Apellido Materno: </b></label> {{employee.employees_mother_surname}}
        </div>
        <div>
          <label><b>Direccion: </b></label> {{employee.employees_address}}
        </div>
        <div>
          <label><b>Estatus: </b></label> {{employee.employees_status}}
        </div>
        <div>
          <label><b>NSS: </b></label> {{employee.employees_nss}}
        </div>
        <div>
          <label><b>RFC: </b></label> {{employee.employees_rfc}}
        </div>
        <div>
          <label><b>CURP: </b></label> {{employee.employees_curp}}
        </div>
        <div>
          <label><b>Teléfono: </b></label> {{employee.employees_telephone}}
        </div>
        <div>
          <label><b>Sindicalizado : </b></label> {{employee.employees_sindicalizado}}
        </div>
        <div>
          <label><b>Condominio: </b></label> {{employee.condominums_id}}
        </div>
        <div>
          <button (click)="gocv()" class="btn btn-info">Descargar CV</button>
        </div>
        <br> <br>
        <div>
          <button (click)="gocontract()" class="btn btn-info">Descargar Contrato</button>
        </div>
        <div>
          <label><b>Departamento: </b></label> {{employee.departments_name}}
        </div>
        <div>
          <label><b>Puesto: </b></label> {{employee.workplaces_name}}
        </div>
        <div>
          <label><b>Unidad de fraccionamiento: </b></label> {{employee.employees_fractionation_unit}}
        </div>
        <div>
          <label><b>Fecha inicial laboral: </b></label> {{employee.employees_work_start_date}}
        </div>
        <div>
          <label><b>Fecha final laboral: </b></label> {{employee.employees_work_end_date}}
        </div>
        <div>
          <label><b>Dias de trabajo: </b></label> {{employee.employees_working_days}}
        </div>
        <div>
          <label><b>Hora inicial de jornada laboral: </b></label> {{employee.employees_working_hours_start}}
        </div>
        <div>
          <label><b>Hora final de jornada laboral: </b></label> {{employee.employees_working_hours_end}}
        </div>
        <div>
          <label><b>Riesgo laboral: </b></label> {{employee.employees_job_risk}}
        </div>
        <div>
          <label><b>Tipo de jornada: </b></label> {{employee.employees_type_workday}}
        </div>
        <div>
          <label><b>Tipo de contrato: </b></label> {{employee.employees_contract_type}}
        </div>
        <div>
          <label><b>Entidad federal: </b></label> {{employee.employees_federal_identity_key}}
        </div>
        <div>
          <label><b>Banco: </b></label> {{employee.employees_bank}}
        </div>
        <div>
          <label><b>Cuenta bancaria: </b></label> {{employee.employees_bank_account}}
        </div>
        <div>
          <label><b>Frecuencia de pagos: </b></label> {{employee.employees_frequency_payment}}
        </div>
        <div>
          <label><b>Uso CFDI</b></label>{{employee.employees_use_CFDI}}
        </div>
      </div>
      <br>
      <button [routerLink]="['/employee-list']" class="btn btn-primary">Back to Employee List</button><br>
    </app-card>
    </div>
</div>