<div class="row">
    <div class="col-xl-12">
      <app-card cardTitle="Fraccionamientos" blockClass="table-border-style">      
        <button [routerLink]="['/create-condominums']" class="btn btn-primary">Agregar Sub Categoria</button><br>
        <br>
        <div class="table-responsive">
          <table class="table">
            <thead>
                <tr>              
                    <th>Nombre Sub Categoria</th>
                    <th>Nombre Categoria</th>
                    <th>Estatus </th>
                    <th>Acciones</th>
                  </tr>
            </thead>
            <tbody>
                <tr *ngFor="let general of general | async">
                    <td>{{general.sub_categories_name}} </td>
                    <td>{{general.categories_name}}</td>
                    
                    <td>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" [checked]="general.sub_categories_status == 'true'">
                          <label class="custom-control-label" for="sub_categories_status">Active</label>
                       </div>
                      </td>

                    <td>
                        <button (click)="deleteGeneral(general.sub_categories_id)"  class="btn btn-outline-danger">Eliminar</button>
                        <button (click)="updateGeneral(general.sub_categories_id)" class="btn btn-outline-info" style="margin-left: 10px">Actualizar</button>
                        <button (click)="generalDetails(general.sub_categories_id)" class="btn btn-outline-info" style="margin-left: 10px">Detalles</button>    
                        
                    </td>
                </tr>
            </tbody>
          </table>
        </div>
      </app-card>
    </div>
  </div>