<div class="row">
  <div class="col-xl-12">
    <app-card cardTitle="Articulos" blockClass="table-border-style">      
      <button [routerLink]="['/create-articles']" class="btn btn-outline-info">Agregar Articulos</button><br>
      <br>
      <div class="table-responsive">
        <table class="table">
          <thead>
              <tr>      

                  <th>Articulo Nombre</th>
                  <th>Numero de articulo</th>
                  <th>Articulo Descripción</th>
                  <th>Unidad de Medida</th>

            
                  <th>Ancho</th>
                  <th>Alto</th>
                  <th>largo</th>
                  <th>Longitud</th>
                  <th>Latitud</th>
                  
                  <th>Precio</th>
                  <th>Articulos Externos</th>
                  <th>Caracteristicas Internas</th>
                  <th>Sub Categoria Nombre</th>  
                  <th>Espacio en Comun</th>
                  
                  <th>Estatus </th>
                  
                </tr>
          </thead>
          <tbody>
              <tr *ngFor="let general of general | async">
                  <td>{{general.articulo}} </td>
                  <td>{{general.articulo}} </td>
                  <td>{{general.articulo}} </td>
                  
                  <td>{{general.articulo}} </td>
                  
                  <td>{{general.articulo}} </td>
                  
                  <td>{{general.articulo}} </td>
                  
                  
                  
       
        


                



                  <div class="form-group">
                    <label for="name">Espacio en comun</label>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input"  id="articles_common_spaces"  [(ngModel)]="general.articles_common_spaces"     name="articles_common_spaces"   style="margin-left: 10px">
                        <label class="custom-control-label" for="articles_common_spaces">Active</label>
                     </div>
                    </div>



                  
                    





                  <td>
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" [checked]="general.articles_status == 'true'">
                        <label class="custom-control-label" for="articles_status">Active</label>
                     </div>
                    </td>
                  <td>
                      <button (click)="deleteGeneral(general.articles_sku)"  class="btn btn-outline-danger">Eliminar</button>
                      <button (click)="updateGeneral(general.articles_sku)" class="btn btn-outline-info" style="margin-left: 10px">Actualizar</button>
                      <button (click)="generalDetails(general.articles_sku)" class="btn btn-outline-info" style="margin-left: 10px">Detalles</button>    
                      
                  </td>
              </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>